In [1]:

#import subprocess
#from subprocess import call


import sys # unix commands

from pathlib import Path
import zipfile

In [2]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [3]:
import urllib.request
import requests

## Download Files

Social Security Name data set
US Social Security Baby Name catalog https://www.ssa.gov/oact/babynames
This catalog records the names given to babies born since the year 1880.The datat can be downloaded through the link https://www.ssa.gov/oact/babynames/limits.html

In [4]:
# define the url
names_url = 'https://www.ssa.gov/oact/babynames/names.zip'

In [6]:
urllib.request.urlretrieve(names_url,'../Data/names.zip')

('../Data/names.zip', <http.client.HTTPMessage at 0x7f1cfd68be20>)

In [7]:
# create HTTP response object. the url of the content to be downloaded is defined as names_url
# send a HTTP request to the server and save
# the HTTP response in a response object called r

r = requests.get(names_url) 



# we save the received content as a zip file in binary format
# the we write the contents of the response (r.content)
# to a new file on disk in binary mode

with open("../Data/names.zip",'wb') as f:
    f.write(r.content)

### Checking the Content of the Downloads
To confirm that the download has completed correctly, we check the locations where we have specified for the files to be downloaded. This can be done using normal unix commands and is made possible by the `sys` library which has been previously imported

In [8]:
ls ../Data/

credit_card_fraud_detection/  melbourne-housing/  names/  names2.zip  names.zip

### Uncompress the downloaded zip file
Since the downloaded data is contained in a zip file, we will need to uncompress the zip file to gain access to its contents. Here we use the zipfile module to uncompress the zip file.

In [9]:
zipfile.ZipFile('../Data/names.zip').extractall('../Data/names/')

Now let's check to confirm that zip file has been uncompressed and its contents are in the specified director

In [10]:
ls ../Data/names

NationalReadMe.pdf  yob1908.txt  yob1937.txt  yob1966.txt  yob1995.txt
yob1880.txt         yob1909.txt  yob1938.txt  yob1967.txt  yob1996.txt
yob1881.txt         yob1910.txt  yob1939.txt  yob1968.txt  yob1997.txt
yob1882.txt         yob1911.txt  yob1940.txt  yob1969.txt  yob1998.txt
yob1883.txt         yob1912.txt  yob1941.txt  yob1970.txt  yob1999.txt
yob1884.txt         yob1913.txt  yob1942.txt  yob1971.txt  yob2000.txt
yob1885.txt         yob1914.txt  yob1943.txt  yob1972.txt  yob2001.txt
yob1886.txt         yob1915.txt  yob1944.txt  yob1973.txt  yob2002.txt
yob1887.txt         yob1916.txt  yob1945.txt  yob1974.txt  yob2003.txt
yob1888.txt         yob1917.txt  yob1946.txt  yob1975.txt  yob2004.txt
yob1889.txt         yob1918.txt  yob1947.txt  yob1976.txt  yob2005.txt
yob1890.txt         yob1919.txt  yob1948.txt  yob1977.txt  yob2006.txt
yob1891.txt         yob1920.txt  yob1949.txt  yob1978.txt  yob2007.txt
yob1892.txt         yob1921.txt  yob1950.txt  yob1979.txt  yob2008.txt
yob1893.txt         yob1922.txt  yob1951.txt  yob1980.txt  yob2009.txt
yob1894.txt         yob1923.txt  yob1952.txt  yob1981.txt  yob2010.txt
yob1895.txt         yob1924.txt  yob1953.txt  yob1982.txt  yob2011.txt
yob1896.txt         yob1925.txt  yob1954.txt  yob1983.txt  yob2012.txt
yob1897.txt         yob1926.txt  yob1955.txt  yob1984.txt  yob2013.txt
yob1898.txt         yob1927.txt  yob1956.txt  yob1985.txt  yob2014.txt
yob1899.txt         yob1928.txt  yob1957.txt  yob1986.txt  yob2015.txt
yob1900.txt         yob1929.txt  yob1958.txt  yob1987.txt  yob2016.txt
yob1901.txt         yob1930.txt  yob1959.txt  yob1988.txt  yob2017.txt
yob1902.txt         yob1931.txt  yob1960.txt  yob1989.txt  yob2018.txt
yob1903.txt         yob1932.txt  yob1961.txt  yob1990.txt  yob2019.txt
yob1904.txt         yob1933.txt  yob1962.txt  yob1991.txt  yob2020.txt
yob1905.txt         yob1934.txt  yob1963.txt  yob1992.txt  yob2021.txt
yob1906.txt         yob1935.txt  yob1964.txt  yob1993.txt
yob1907.txt         yob1936.txt  yob1965.txt  yob1994.txt

## Reading the Data

### Read Single File

try to read one of the files so that we can preview the data and have see what it looks like

In [11]:

names2020_1 = pd.read_csv('../Data/names/yob2020.txt')
names2020_1.head()

      Olivia  F  17641
0       Emma  F  15656
1        Ava  F  13160
2  Charlotte  F  13065
3     Sophia  F  13036
4     Amelia  F  12767

##### Adding a Header Row
From the previous step we see that the data does not contain a header row. We will need to add a header row to make our analysis easier. We do this in the next step by using the `names` parameter of `read_csv` to pass a list of column names while reading the file

In [11]:

names2020_2 = pd.read_csv('../Data/names/yob2020.txt', names=['name','sex','number'])
names2020_2.head()

        name sex  number
0     Olivia   F   17535
1       Emma   F   15581
2        Ava   F   13084
3  Charlotte   F   13003
4     Sophia   F   12976

##### Add a helper column for descriptive purposes
Although we know from the file name that this data is for the year 2020, there is nothing in the data itself to indicate this. We can therefore add a helper column to show this. We use the `assign` method of `read_csv` to do this as follows:

In [12]:
names2020_3 = pd.read_csv('../Data/names/yob2020.txt', names=['name','sex','number']).assign(year=2020)
names2020_3.head()

        name sex  number  year
0     Olivia   F   17535  2020
1       Emma   F   15581  2020
2        Ava   F   13084  2020
3  Charlotte   F   13003  2020
4     Sophia   F   12976  2020

### Read All Files in the Folder
We have seen how we can read each individual file in the folder into its own dataframe. In practice, when faced with a situation where we need to read several files in a folder into a data frame; using a reading each file individually is not very convenient. We want a way to read all the files into a single data frame, without requiring a `read_csv` statement for each of the files. In effect, we do not want to explicitly specify the name of each individual file, as that will require several lines of code (as many as there are files), just to read the data.

The general idea therefore is as follows:

<ol>
  <li> Create a list that contains the names of all the files in the folder </li>
  <li> Create another list that will contain data frames
  <li> Iterate over the list of file names, reading the content of each file into a data frame and then adding each data frame to the list of data frames </li>
  <li> Merge all data frames in the list of data frames into a single data frams </li>
</ol>

We will do this below:

### Using a for loop

First we specify the location/folder that contains the files that contains the files that we are interested in.

In [14]:
folder = Path('../Data/names/').absolute()
# [f for f in folder.iterdir() iff f.name.startswith('yob') ]

Next, we create a list that contains the paths to each of the files in the directory

In [16]:
list_of_files= []
for f in folder.iterdir():
    if ( f.name.startswith('yob') and f.name.endswith('txt') ):
        list_of_files.append(f)

Next, we create a **list_of_dataframes**; then iterate through the **list_of_files**, reading each file into a dataframe and adding the respective dataframes to the **list_of_dataframes**.

Recall that the data in the files does not have headers, so we use the `names` parameter of `read_csv` to pass a list of column names while reading the file.

`list_of_dfs = []
for name_of_file in list_of_files:
    list_of_dfs.append( pd.read_csv(name_of_file, names=['name','sex','number']) )`
    
The code snippet shown above will successfully read the files into dataframes and append each dataframe to the **list_of_dataframes**; however, as there is no column to tell us what year is represented by each record, we use a helper column to show this. The helper column can be added while reading the data by using the `assign` method of `read_csv`. Additionally, we can add another helper column to indicate the name of the file from which the data was read.

In [26]:
list_of_dataframes = []
for idx,name_of_file in enumerate(list_of_files,1):
    list_of_dataframes.append( pd.read_csv(name_of_file, names=['name','sex','number']).
                       assign(file_num = f'file-{idx}', file_name=name_of_file.name[0::]) )
    
len(list_of_dataframes)

141

#### Concatenate the dataframes into one dataframes

In [27]:
dfs_in_one = pd.concat(list_of_dataframes)
dfs_in_one.head()

      name sex  number file_num    file_name
0    Emily   F   23944   file-1  yob2005.txt
1     Emma   F   20348   file-1  yob2005.txt
2  Madison   F   19571   file-1  yob2005.txt
3  Abigail   F   15751   file-1  yob2005.txt
4   Olivia   F   15694   file-1  yob2005.txt

In [28]:
# dfs_in_one[dfs_in_one[file_name=='yob2020.txt']]

dfs_in_one.loc[dfs_in_one['file_name']=='yob2020.txt']

            name sex  number file_num    file_name
0         Olivia   F   17535  file-94  yob2020.txt
1           Emma   F   15581  file-94  yob2020.txt
2            Ava   F   13084  file-94  yob2020.txt
3      Charlotte   F   13003  file-94  yob2020.txt
4         Sophia   F   12976  file-94  yob2020.txt
...          ...  ..     ...      ...          ...
31266     Zykell   M       5  file-94  yob2020.txt
31267      Zylus   M       5  file-94  yob2020.txt
31268     Zymari   M       5  file-94  yob2020.txt
31269        Zyn   M       5  file-94  yob2020.txt
31270      Zyran   M       5  file-94  yob2020.txt

[31271 rows x 5 columns]

### Using a list comprehension

Another way to create a list of files in the folder is to use a list comprehension. This is my preferred method, as it is very concise

#### Create list of files using a comprehension

In [20]:
list_of_files = [f for f in folder.iterdir() if f.name.startswith('yob')]

Below, we employ the use of a list comprehension to help in reading each of the files in the **list_of_files** created above, while creating a **list_of_dataframes**. Each dataframe in the **list_of_dataframes** corresponds to a file in the list_of_files

In [21]:

    # the assign() method adds a helper column
list_of_dfs = [
    pd.read_csv(csv_file) for csv_file in (list_of_files)
]

In [22]:
list_of_dfs

[           Emily  F  23948
 0           Emma  F  20349
 1        Madison  F  19572
 2        Abigail  F  15753
 3         Olivia  F  15698
 4       Isabella  F  15192
 ...          ... ..    ...
 32550    Zymiere  M      5
 32551     Zyrell  M      5
 32552     Zyrian  M      5
 32553     Zyshon  M      5
 32554  Zytavious  M      5

 [32555 rows x 3 columns],
        Jennifer  F  56779
 0      Michelle  F  33159
 1          Lisa  F  32912
 2      Kimberly  F  30703
 3           Amy  F  26238
 4        Angela  F  25899
 ...         ... ..    ...
 15292    Zawdie  M      5
 15293       Zel  M      5
 15294      Zeno  M      5
 15295     Zenon  M      5
 15296   Zigmond  M      5

 [15297 rows x 3 columns],
           Mary  F  17580
 0        Helen  F   7579
 1     Margaret  F   6713
 2         Anna  F   5575
 3         Ruth  F   5573
 4      Dorothy  F   4967
 ...        ... ..    ...
 3942      Wray  M      5
 3943     Wyman  M      5
 3944       Zeb  M      5
 3945      Zeke  M      5
 3946      Zeno  M      5

 [3947 rows x 3 columns],
            Mary  F  9217
 0          Anna  F  3860
 1          Emma  F  2587
 2     Elizabeth  F  2549
 3        Minnie  F  2243
 4      Margaret  F  2142
 ...         ... ..   ...
 2291   Williard  M     5
 2292      Willy  M     5
 2293    Winston  M     5
 2294       York  M     5
 2295  Zachariah  M     5

 [2296 rows x 3 columns],
            Mary  F  9128
 0          Anna  F  3994
 1          Emma  F  2728
 2     Elizabeth  F  2582
 3      Margaret  F  2204
 4        Minnie  F  2178
 ...         ... ..   ...
 2288     Wallie  M     5
 2289    Willian  M     5
 2290       Wirt  M     5
 2291        Yee  M     5
 2292        Zeb  M     5

 [2293 rows x 3 columns],
           Olivia  F  18534
 0           Emma  F  17176
 1            Ava  F  14515
 2         Sophia  F  13769
 3       Isabella  F  13360
 4      Charlotte  F  13206
 ...          ... ..    ...
 32067     Zyheem  M      5
 32068      Zykel  M      5
 32069     Zyking  M      5
 32070        Zyn  M      5
 32071      Zyran  M      5

 [32072 rows x 3 columns],
            Mary  F  73535
 0       Dorothy  F  39998
 1         Helen  F  31193
 2         Betty  F  30600
 3      Margaret  F  26547
 4          Ruth  F  23600
 ...         ... ..    ...
 10864  Zaragoza  M      5
 10865    Zeddie  M      5
 10866     Zelma  M      5
 10867    Zelmer  M      5
 10868    Zenith  M      5

 [10869 rows x 3 columns],
          Ashley  F  43481
 0       Jessica  F  43398
 1      Brittany  F  29091
 2        Amanda  F  28893
 3      Samantha  F  25647
 4         Sarah  F  25229
 ...         ... ..    ...
 25109      Zeev  M      5
 25110      Zein  M      5
 25111    Zerick  M      5
 25112    Zeshan  M      5
 25113    Zuhair  M      5

 [25114 rows x 3 columns],
           Emily  F  26539
 0        Hannah  F  21677
 1        Alexis  F  19234
 2         Sarah  F  19112
 3      Samantha  F  19040
 4        Ashley  F  18136
 ...         ... ..    ...
 28549     Zyier  M      5
 28550    Zyquan  M      5
 28551    Zyquez  M      5
 28552     Zyron  M      5
 28553   Zyshaun  M      5

 [28554 rows x 3 columns],
            Emma  F  19531
 0        Olivia  F  19386
 1           Ava  F  16329
 2        Sophia  F  16159
 3      Isabella  F  14837
 4           Mia  F  14447
 ...         ... ..    ...
 33037    Zolton  M      5
 33038    Zurich  M      5
 33039    Zyahir  M      5
 33040      Zyel  M      5
 33041     Zylyn  M      5

 [33042 rows x 3 columns],
            Mary  F  67366
 0         Helen  F  36148
 1       Dorothy  F  32030
 2      Margaret  F  27139
 3          Ruth  F  25534
 4       Mildred  F  17258
 ...         ... ..    ...
 10392      Zach  M      5
 10393     Zaven  M      5
 10394    Zellie  M      5
 10395    Zelmer  M      5
 10396     Zenas  M      5

 [10397 rows x 3 columns],
           Mary  F  63254
 0      Barbara  F  44736
 1     Patricia  F  39459
 2        Linda  F  31612
 3        Carol  F  30271
 4       Sandra  F  24994
 ...        ... ..    ...
 9417     Wymon  M      5
 9418    Yancey  M      5
 9419    Yoshio  M      5
 9420      Zach  M      5
 9421       Zed  M      5

 [9422 rows x 3 columns],
            Mary  F  68018
 0         Linda  F  55374
 1       Deborah  F  54684
 2      Patricia  F  49146
 3         Susan  F  47162
 4         Debra  F  45897
 ...         ... ..    ...
 10978   Yehudah  M      5
 10979  Yitzchok  M      5
 10980    Zalman  M      5
 10981    Zannie  M      5
 10982    Zeddie  M      5

 [10983 rows x 3 columns],
         Jessica  F  47890
 0        Ashley  F  47588
 1      Brittany  F  37791
 2        Amanda  F  36830
 3         Sarah  F  27793
 4      Samantha  F  24792
 ...         ... ..    ...
 23769   Zebulin  M      5
 23770       Zek  M      5
 23771       Zen  M      5
 23772      Zeno  M      5
 23773     Zerek  M      5

 [23774 rows x 3 columns],
             Emily  F  19358
 0        Isabella  F  19140
 1            Emma  F  18377
 2             Ava  F  18053
 3         Madison  F  17963
 4          Sophia  F  17026
 ...           ... ..    ...
 34959       Zylin  M      5
 34960       Zyonn  M      5
 34961   Zyquarius  M      5
 34962  Zyquavious  M      5
 34963      Zyrese  M      5

 [34964 rows x 3 columns],
          Sophia  F  21855
 0      Isabella  F  19923
 1          Emma  F  18811
 2        Olivia  F  17328
 3           Ava  F  15507
 4         Emily  F  14266
 ...         ... ..    ...
 33917     Zylar  M      5
 33918     Zylas  M      5
 33919     Zyran  M      5
 33920   Zyshawn  M      5
 33921  Zytavion  M      5

 [33922 rows x 3 columns],
           Mary  F  55643
 0      Barbara  F  34914
 1     Patricia  F  26839
 2      Shirley  F  26821
 3        Betty  F  25330
 4        Carol  F  17336
 ...        ... ..    ...
 8941     Wyley  M      5
 8942      Ynes  M      5
 8943   Yoshito  M      5
 8944  Zacarias  M      5
 8945     Zelma  M      5

 [8946 rows x 3 columns],
           Mary  F  66178
 0      Barbara  F  43434
 1     Patricia  F  39622
 2        Linda  F  38440
 3        Carol  F  31684
 4       Sandra  F  25988
 ...        ... ..    ...
 9402   Wyndell  M      5
 9403   Yolanda  M      5
 9404    Ysmael  M      5
 9405  Zaragoza  M      5
 9406   Zygmunt  M      5

 [9407 rows x 3 columns],
            Mary  F  9888
 0          Anna  F  4227
 1     Elizabeth  F  2681
 2          Emma  F  2647
 3      Margaret  F  2419
 4        Minnie  F  2215
 ...         ... ..   ...
 2367    Wheeler  M     5
 2368    Wilfrid  M     5
 2369    Wilhelm  M     5
 2370       Wirt  M     5
 2371        Zed  M     5

 [2372 rows x 3 columns],
            Mary  F  8148
 0          Anna  F  3143
 1          Emma  F  2303
 2     Elizabeth  F  2186
 3        Minnie  F  2004
 4      Margaret  F  1821
 ...         ... ..   ...
 2121       Wirt  M     5
 2122    Woodson  M     5
 2123      Woody  M     5
 2124     Worley  M     5
 2125        Zed  M     5

 [2126 rows x 3 columns],
             Mary  F  67835
 0        Dorothy  F  36616
 1          Betty  F  32962
 2          Helen  F  26886
 3       Margaret  F  23073
 4           Ruth  F  20225
 ...          ... ..    ...
 10453       Yves  M      5
 10454  Zachariah  M      5
 10455        Zan  M      5
 10456   Zeferino  M      5
 10457     Zelmer  M      5

 [10458 rows x 3 columns],
        Jennifer  F  54349
 0       Jessica  F  45280
 1        Amanda  F  33755
 2        Ashley  F  33296
 3         Sarah  F  27232
 4       Melissa  F  23474
 ...         ... ..    ...
 19406  Zebediah  M      5
 19407   Zebulan  M      5
 19408       Zef  M      5
 19409     Zenas  M      5
 19410     Zoran  M      5

 [19411 rows x 3 columns],
            Lisa  F  60271
 0          Mary  F  34271
 1         Karen  F  32870
 2      Kimberly  F  28835
 3         Susan  F  26328
 4      Patricia  F  23553
 ...         ... ..    ...
 11949    Willem  M      5
 11950   Winferd  M      5
 11951    Worley  M      5
 11952    Worthy  M      5
 11953  Wwilliam  M      5

 [11954 rows x 3 columns],
            Mary  F  64151
 0         Betty  F  38235
 1       Dorothy  F  30409
 2         Helen  F  19914
 3      Margaret  F  18352
 4       Barbara  F  18280
 ...         ... ..    ...
 9786       Ynez  M      5
 9787    Yoshito  M      5
 9788  Zacharias  M      5
 9789      Zelma  M      5
 9790     Zelmer  M      5

 [9791 rows x 3 columns],
          Mary  F  51476
 0       Susan  F  39204
 1       Linda  F  37313
 2       Karen  F  36380
 3       Donna  F  34135
 4        Lisa  F  33702
 ...       ... ..    ...
 11919   Yates  M      5
 11920  Ysabel  M      5
 11921   Yusuf  M      5
 11922  Zalmen  M      5
 11923  Zandel  M      5

 [11924 rows x 3 columns],
            Emma  F  20468
 0        Olivia  F  19713
 1        Sophia  F  17437
 2           Ava  F  16391
 3      Isabella  F  15641
 4           Mia  F  14915
 ...         ... ..    ...
 33150    Zykell  M      5
 33151    Zyking  M      5
 33152     Zykir  M      5
 33153     Zyrus  M      5
 33154      Zyus  M      5

 [33155 rows x 3 columns],
          Jessica  F  52682
 0         Ashley  F  49674
 1         Amanda  F  40534
 2       Jennifer  F  36184
 3          Sarah  F  28162
 4      Stephanie  F  22647
 ...          ... ..    ...
 20654        Zia  M      5
 20655        Zoe  M      5
 20656      Zoilo  M      5
 20657     Zollie  M      5
 20658     Zubair  M      5

 [20659 rows x 3 columns],
            Mary  F  13447
 0          Anna  F   5950
 1         Helen  F   4023
 2      Margaret  F   3931
 3     Elizabeth  F   3603
 4          Ruth  F   3551
 ...         ... ..    ...
 3043       Whit  M      5
 3044    Wilfrid  M      5
 3045    Wilhelm  M      5
 3046       Wong  M      5
 3047        Yee  M      5

 [3048 rows x 3 columns],
            Mary  F  7065
 0          Anna  F  2604
 1          Emma  F  2003
 2     Elizabeth  F  1939
 3        Minnie  F  1746
 4      Margaret  F  1578
 ...         ... ..   ...
 1994     Woodie  M     5
 1995     Worthy  M     5
 1996     Wright  M     5
 1997       York  M     5
 1998  Zachariah  M     5

 [1999 rows x 3 columns],
           Mary  F  56214
 0      Barbara  F  39276
 1     Patricia  F  27556
 2        Betty  F  25507
 3      Shirley  F  23767
 4        Carol  F  19423
 ...        ... ..    ...
 9025      Zach  M      5
 9026    Zannie  M      5
 9027  Zeferino  M      5
 9028   Zelbert  M      5
 9029     Zenon  M      5

 [9030 rows x 3 columns],
           Mary  F  18665
 0        Helen  F   8439
 1     Margaret  F   6976
 2         Ruth  F   6180
 3         Anna  F   5860
 4      Dorothy  F   5703
 ...        ... ..    ...
 4012   Wilhelm  M      5
 4013     Wilma  M      5
 4014    Worthy  M      5
 4015    Yancey  M      5
 4016      Zeno  M      5

 [4017 rows x 3 columns],
           Mary  F  58043
 0      Barbara  F  39539
 1     Patricia  F  36903
 2        Carol  F  24185
 3        Linda  F  23721
 4       Judith  F  23318
 ...        ... ..    ...
 9080   Ygnacio  M      5
 9081      Yong  M      5
 9082      Yvon  M      5
 9083    Zannie  M      5
 9084      Zell  M      5

 [9085 rows x 3 columns],
           Sophia  F  22322
 0           Emma  F  20960
 1       Isabella  F  19119
 2         Olivia  F  17323
 3            Ava  F  15542
 4          Emily  F  13658
 ...          ... ..    ...
 33757      Zylin  M      5
 33758     Zymari  M      5
 33759      Zyrin  M      5
 33760      Zyrus  M      5
 33761  Zytaevius  M      5

 [33762 rows x 3 columns],
          Ashley  F  38457
 0       Jessica  F  38358
 1        Amanda  F  25035
 2      Brittany  F  24982
 3         Sarah  F  24635
 4      Samantha  F  24410
 ...         ... ..    ...
 25422     Ziyad  M      5
 25423    Zohrab  M      5
 25424     Zubin  M      5
 25425    Zuhair  M      5
 25426     Zyair  M      5

 [25427 rows x 3 columns],
              Mary  F  56212
 0         Barbara  F  36736
 1        Patricia  F  32665
 2          Judith  F  22383
 3           Betty  F  22075
 4           Carol  F  21760
 ...           ... ..    ...
 8955  Worthington  M      5
 8956        Wynne  M      5
 8957       Ysabel  M      5
 8958       Zackie  M      5
 8959        Zenas  M      5

 [8960 rows x 3 columns],
        Jennifer  F  57048
 0       Jessica  F  42537
 1        Amanda  F  34375
 2         Sarah  F  28172
 3       Melissa  F  28003
 4           Amy  F  20345
 ...         ... ..    ...
 19477   Zerrick  M      5
 19478     Zeyad  M      5
 19479  Zimbabwe  M      5
 19480    Zoltan  M      5
 19481    Zuriel  M      5

 [19482 rows x 3 columns],
            Mary  F  64280
 0         Helen  F  34251
 1       Dorothy  F  28852
 2      Margaret  F  25560
 3          Ruth  F  23568
 4       Mildred  F  16257
 ...         ... ..    ...
 9906  Yoshiharu  M      5
 9907    Zebulon  M      5
 9908     Zeddie  M      5
 9909       Zeke  M      5
 9910       Zola  M      5

 [9911 rows x 3 columns],
           Mary  F  22848
 0        Helen  F  10479
 1     Margaret  F   8226
 2      Dorothy  F   7318
 3         Ruth  F   7212
 4         Anna  F   6436
 ...        ... ..    ...
 4623   Woodson  M      5
 4624     Woody  M      5
 4625     Wyman  M      5
 4626    Yoshio  M      5
 4627    Zennie  M      5

 [4628 rows x 3 columns],
            Mary  F  9889
 0          Anna  F  4283
 1          Emma  F  2764
 2     Elizabeth  F  2680
 3        Minnie  F  2372
 4      Margaret  F  2275
 ...         ... ..   ...
 2386       Wood  M     5
 2387      Worth  M     5
 2388     Wright  M     5
 2389     Xavier  M     5
 2390      Yancy  M     5

 [2391 rows x 3 columns],
       Jennifer  F  56320
 0      Melissa  F  28327
 1      Jessica  F  26103
 2          Amy  F  23212
 3      Heather  F  22273
 4       Amanda  F  20518
 ...        ... ..    ...
 18228      Zan  M      5
 18229   Zerick  M      5
 18230   Zikomo  M      5
 18231   Zollie  M      5
 18232      Zon  M      5

 [18233 rows x 3 columns],
          Emily  F  25957
 0       Hannah  F  23085
 1      Madison  F  19968
 2       Ashley  F  17997
 3        Sarah  F  17708
 4       Alexis  F  17631
 ...        ... ..    ...
 29770     Zeph  M      5
 29771    Zeven  M      5
 29772    Ziggy  M      5
 29773       Zo  M      5
 29774    Zyier  M      5

 [29775 rows x 3 columns],
             Mary  F  61104
 0          Susan  F  45951
 1          Linda  F  44505
 2          Debra  F  42732
 3          Karen  F  40589
 4        Deborah  F  40085
 ...          ... ..    ...
 11561     Yancey  M      5
 11562        Zac  M      5
 11563  Zachariah  M      5
 11564     Zackie  M      5
 11565     Zonnie  M      5

 [11566 rows x 3 columns],
            Mary  F  14961
 0         Helen  F   6488
 1          Anna  F   5330
 2      Margaret  F   5302
 3          Ruth  F   4900
 4     Elizabeth  F   3833
 ...         ... ..    ...
 3554    Willian  M      5
 3555     Woodie  M      5
 3556      Woody  M      5
 3557     Worley  M      5
 3558        Yee  M      5

 [3559 rows x 3 columns],
            Mary  F  12784
 0          Anna  F   5695
 1          Ruth  F   3658
 2      Margaret  F   3565
 3     Elizabeth  F   3360
 4         Helen  F   3249
 ...         ... ..    ...
 2825  Whitfield  M      5
 2826    Whitney  M      5
 2827     Willia  M      5
 2828       Wing  M      5
 2829       Zora  M      5

 [2830 rows x 3 columns],
            Lisa  F  49537
 0      Michelle  F  33223
 1      Kimberly  F  31909
 2      Jennifer  F  26852
 3       Melissa  F  21727
 4          Mary  F  21719
 ...         ... ..    ...
 12932     Wynne  M      5
 12933      Zain  M      5
 12934    Zalman  M      5
 12935    Zavier  M      5
 12936   Zedrick  M      5

 [12937 rows x 3 columns],
           Mary  F  59883
 0        Betty  F  34419
 1      Barbara  F  26315
 2      Dorothy  F  24974
 3         Joan  F  21044
 4     Patricia  F  17990
 ...        ... ..    ...
 9376      Yves  M      5
 9377    Yvonne  M      5
 9378       Zed  M      5
 9379     Zelda  M      5
 9380     Zenas  M      5

 [9381 rows x 3 columns],
         Isabella  F  22925
 0         Sophia  F  20648
 1           Emma  F  17354
 2         Olivia  F  17030
 3            Ava  F  15436
 4          Emily  F  14278
 ...          ... ..    ...
 34083    Zymaire  M      5
 34084     Zyonne  M      5
 34085  Zyquarius  M      5
 34086      Zyran  M      5
 34087      Zzyzx  M      5

 [34088 rows x 3 columns],
            Emma  F  19847
 0        Olivia  F  18753
 1           Ava  F  15998
 2      Isabella  F  15222
 3        Sophia  F  14910
 4           Mia  F  13496
 ...         ... ..    ...
 32642    Zykeem  M      5
 32643     Zylin  M      5
 32644     Zylis  M      5
 32645     Zylyn  M      5
 32646     Zyrie  M      5

 [32647 rows x 3 columns],
           Linda  F  99693
 0          Mary  F  71684
 1      Patricia  F  51278
 2       Barbara  F  48796
 3        Sandra  F  34778
 4         Carol  F  33541
 ...         ... ..    ...
 10365  Zacarias  M      5
 10366       Zan  M      5
 10367    Zannie  M      5
 10368    Zebbie  M      5
 10369      Zell  M      5

 [10370 rows x 3 columns],
          Emily  F  25691
 0         Emma  F  22711
 1      Madison  F  20200
 2       Hannah  F  17637
 3       Olivia  F  16153
 4      Abigail  F  15931
 ...        ... ..    ...
 31185   Zorion  M      5
 31186  Zxavian  M      5
 31187     Zyad  M      5
 31188   Zykeem  M      5
 31189   Zysean  M      5

 [31190 rows x 3 columns],
        Jennifer  F  46153
 0          Lisa  F  38964
 1      Kimberly  F  34137
 2      Michelle  F  34049
 3           Amy  F  25211
 4        Angela  F  24930
 ...         ... ..    ...
 14776      Zaid  M      5
 14777    Zalmen  M      5
 14778    Zavier  M      5
 14779   Zebulon  M      5
 14780       Zon  M      5

 [14781 rows x 3 columns],
            Mary  F  47682
 0          Lisa  F  42710
 1         Susan  F  37526
 2         Linda  F  35582
 3         Karen  F  34697
 4      Patricia  F  28875
 ...         ... ..    ...
 12179    Yehuda  M      5
 12180      Yogi  M      5
 12181      Yvan  M      5
 12182    Zannie  M      5
 12183   Zendell  M      5

 [12184 rows x 3 columns],
           Mary  F  61438
 0        Helen  F  32662
 1      Dorothy  F  27418
 2     Margaret  F  24953
 3         Ruth  F  23189
 4      Mildred  F  15633
 ...        ... ..    ...
 9690     Zelma  M      5
 9691      Zera  M      5
 9692    Zettie  M      5
 9693      Ziba  M      5
 9694      Zina  M      5

 [9695 rows x 3 columns],
            Mary  F  11648
 0          Anna  F   5062
 1     Elizabeth  F   3058
 2      Margaret  F   2917
 3          Emma  F   2884
 4        Minnie  F   2624
 ...         ... ..    ...
 2584     Weldon  M      5
 2585    Wendell  M      5
 2586    Wilhelm  M      5
 2587       Zeke  M      5
 2588      Zenas  M      5

 [2589 rows x 3 columns],
         Jennifer  F  50561
 0        Jessica  F  45858
 1         Ashley  F  38774
 2         Amanda  F  33910
 3          Sarah  F  25884
 4      Stephanie  F  23023
 ...          ... ..    ...
 19504       Zayd  M      5
 19505    Zebedee  M      5
 19506    Zebulan  M      5
 19507       Zeno  M      5
 19508     Zeshan  M      5

 [19509 rows x 3 columns],
           Mary  F  55071
 0      Shirley  F  42357
 1      Barbara  F  30697
 2        Betty  F  28674
 3     Patricia  F  22876
 4      Dorothy  F  19406
 ...        ... ..    ...
 9032   Winfrey  M      5
 9033     Yancy  M      5
 9034    Yazzie  M      5
 9035  Zaragoza  M      5
 9036     Zenas  M      5

 [9037 rows x 3 columns],
            Mary  F  54485
 0         Susan  F  41606
 1         Linda  F  40408
 2         Karen  F  36775
 3         Donna  F  36465
 4      Patricia  F  35224
 ...         ... ..    ...
 11760    Ysabel  M      5
 11761    Zalman  M      5
 11762    Zebbie  M      5
 11763   Zebulon  M      5
 11764   Zyndall  M      5

 [11765 rows x 3 columns],
            Mary  F  8012
 0          Anna  F  3306
 1          Emma  F  2367

As demonstrated previously, the code snippet shown above will successfully read the files into dataframes and append each dataframe to the **list_of_dfs**; however, as there is no column to tell us what year is represented by each record, 

We use a helper column to indicate the year that is represented by each record. The helper column can be added while reading the data by using the `assign` method of `read_csv`. We also add another helper column to indicate the name of the file from which the data was read.

Create a list of files

#### Reading the files

<ol>
  <li> First item </li>
  <li> Second item </li>
  <li> Third item </li>
</ol>

as the files do not have a header row, we will add a header while reading in the file. If this were a single file we would have done: `df = pd.read_csv('../Data/names/yob2011.txt', names=['name','sex','number'])`

In [23]:

    # the assign() method adds a helper column
dfs = [
    pd.read_csv(name_of_file, names=['name','sex','number']).
    assign(file_num = f'file-{idx}', file_name=name_of_file.name[0::])
    for idx, name_of_file in enumerate(list_of_files, 1)
]

In [27]:
dfs

[            name sex  number file_num    file_name
 0          Emily   F   23948   file-1  yob2005.txt
 1           Emma   F   20349   file-1  yob2005.txt
 2        Madison   F   19572   file-1  yob2005.txt
 3        Abigail   F   15753   file-1  yob2005.txt
 4         Olivia   F   15698   file-1  yob2005.txt
 ...          ...  ..     ...      ...          ...
 32551    Zymiere   M       5   file-1  yob2005.txt
 32552     Zyrell   M       5   file-1  yob2005.txt
 32553     Zyrian   M       5   file-1  yob2005.txt
 32554     Zyshon   M       5   file-1  yob2005.txt
 32555  Zytavious   M       5   file-1  yob2005.txt

 [32556 rows x 5 columns],
            name sex  number file_num    file_name
 0      Jennifer   F   56779   file-2  yob1971.txt
 1      Michelle   F   33159   file-2  yob1971.txt
 2          Lisa   F   32912   file-2  yob1971.txt
 3      Kimberly   F   30703   file-2  yob1971.txt
 4           Amy   F   26238   file-2  yob1971.txt
 ...         ...  ..     ...      ...          ...
 15293    Zawdie   M       5   file-2  yob1971.txt
 15294       Zel   M       5   file-2  yob1971.txt
 15295      Zeno   M       5   file-2  yob1971.txt
 15296     Zenon   M       5   file-2  yob1971.txt
 15297   Zigmond   M       5   file-2  yob1971.txt

 [15298 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   17580   file-3  yob1907.txt
 1        Helen   F    7579   file-3  yob1907.txt
 2     Margaret   F    6713   file-3  yob1907.txt
 3         Anna   F    5575   file-3  yob1907.txt
 4         Ruth   F    5573   file-3  yob1907.txt
 ...        ...  ..     ...      ...          ...
 3943      Wray   M       5   file-3  yob1907.txt
 3944     Wyman   M       5   file-3  yob1907.txt
 3945       Zeb   M       5   file-3  yob1907.txt
 3946      Zeke   M       5   file-3  yob1907.txt
 3947      Zeno   M       5   file-3  yob1907.txt

 [3948 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F    9217   file-4  yob1884.txt
 1          Anna   F    3860   file-4  yob1884.txt
 2          Emma   F    2587   file-4  yob1884.txt
 3     Elizabeth   F    2549   file-4  yob1884.txt
 4        Minnie   F    2243   file-4  yob1884.txt
 ...         ...  ..     ...      ...          ...
 2292   Williard   M       5   file-4  yob1884.txt
 2293      Willy   M       5   file-4  yob1884.txt
 2294    Winston   M       5   file-4  yob1884.txt
 2295       York   M       5   file-4  yob1884.txt
 2296  Zachariah   M       5   file-4  yob1884.txt

 [2297 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F    9128   file-5  yob1885.txt
 1          Anna   F    3994   file-5  yob1885.txt
 2          Emma   F    2728   file-5  yob1885.txt
 3     Elizabeth   F    2582   file-5  yob1885.txt
 4      Margaret   F    2204   file-5  yob1885.txt
 ...         ...  ..     ...      ...          ...
 2289     Wallie   M       5   file-5  yob1885.txt
 2290    Willian   M       5   file-5  yob1885.txt
 2291       Wirt   M       5   file-5  yob1885.txt
 2292        Yee   M       5   file-5  yob1885.txt
 2293        Zeb   M       5   file-5  yob1885.txt

 [2294 rows x 5 columns],
            name sex  number file_num    file_name
 0        Olivia   F   18534   file-6  yob2019.txt
 1          Emma   F   17176   file-6  yob2019.txt
 2           Ava   F   14515   file-6  yob2019.txt
 3        Sophia   F   13769   file-6  yob2019.txt
 4      Isabella   F   13360   file-6  yob2019.txt
 ...         ...  ..     ...      ...          ...
 32068    Zyheem   M       5   file-6  yob2019.txt
 32069     Zykel   M       5   file-6  yob2019.txt
 32070    Zyking   M       5   file-6  yob2019.txt
 32071       Zyn   M       5   file-6  yob2019.txt
 32072     Zyran   M       5   file-6  yob2019.txt

 [32073 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F   73535   file-7  yob1924.txt
 1       Dorothy   F   39998   file-7  yob1924.txt
 2         Helen   F   31193   file-7  yob1924.txt
 3         Betty   F   30600   file-7  yob1924.txt
 4      Margaret   F   26547   file-7  yob1924.txt
 ...         ...  ..     ...      ...          ...
 10865  Zaragoza   M       5   file-7  yob1924.txt
 10866    Zeddie   M       5   file-7  yob1924.txt
 10867     Zelma   M       5   file-7  yob1924.txt
 10868    Zelmer   M       5   file-7  yob1924.txt
 10869    Zenith   M       5   file-7  yob1924.txt

 [10870 rows x 5 columns],
            name sex  number file_num    file_name
 0        Ashley   F   43481   file-8  yob1991.txt
 1       Jessica   F   43398   file-8  yob1991.txt
 2      Brittany   F   29091   file-8  yob1991.txt
 3        Amanda   F   28893   file-8  yob1991.txt
 4      Samantha   F   25647   file-8  yob1991.txt
 ...         ...  ..     ...      ...          ...
 25110      Zeev   M       5   file-8  yob1991.txt
 25111      Zein   M       5   file-8  yob1991.txt
 25112    Zerick   M       5   file-8  yob1991.txt
 25113    Zeshan   M       5   file-8  yob1991.txt
 25114    Zuhair   M       5   file-8  yob1991.txt

 [25115 rows x 5 columns],
            name sex  number file_num    file_name
 0         Emily   F   26539   file-9  yob1999.txt
 1        Hannah   F   21677   file-9  yob1999.txt
 2        Alexis   F   19234   file-9  yob1999.txt
 3         Sarah   F   19112   file-9  yob1999.txt
 4      Samantha   F   19040   file-9  yob1999.txt
 ...         ...  ..     ...      ...          ...
 28550     Zyier   M       5   file-9  yob1999.txt
 28551    Zyquan   M       5   file-9  yob1999.txt
 28552    Zyquez   M       5   file-9  yob1999.txt
 28553     Zyron   M       5   file-9  yob1999.txt
 28554   Zyshaun   M       5   file-9  yob1999.txt

 [28555 rows x 5 columns],
            name sex  number file_num    file_name
 0          Emma   F   19531  file-10  yob2016.txt
 1        Olivia   F   19386  file-10  yob2016.txt
 2           Ava   F   16329  file-10  yob2016.txt
 3        Sophia   F   16159  file-10  yob2016.txt
 4      Isabella   F   14837  file-10  yob2016.txt
 ...         ...  ..     ...      ...          ...
 33038    Zolton   M       5  file-10  yob2016.txt
 33039    Zurich   M       5  file-10  yob2016.txt
 33040    Zyahir   M       5  file-10  yob2016.txt
 33041      Zyel   M       5  file-10  yob2016.txt
 33042     Zylyn   M       5  file-10  yob2016.txt

 [33043 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F   67366  file-11  yob1918.txt
 1         Helen   F   36148  file-11  yob1918.txt
 2       Dorothy   F   32030  file-11  yob1918.txt
 3      Margaret   F   27139  file-11  yob1918.txt
 4          Ruth   F   25534  file-11  yob1918.txt
 ...         ...  ..     ...      ...          ...
 10393      Zach   M       5  file-11  yob1918.txt
 10394     Zaven   M       5  file-11  yob1918.txt
 10395    Zellie   M       5  file-11  yob1918.txt
 10396    Zelmer   M       5  file-11  yob1918.txt
 10397     Zenas   M       5  file-11  yob1918.txt

 [10398 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   63254  file-12  yob1942.txt
 1      Barbara   F   44736  file-12  yob1942.txt
 2     Patricia   F   39459  file-12  yob1942.txt
 3        Linda   F   31612  file-12  yob1942.txt
 4        Carol   F   30271  file-12  yob1942.txt
 ...        ...  ..     ...      ...          ...
 9418     Wymon   M       5  file-12  yob1942.txt
 9419    Yancey   M       5  file-12  yob1942.txt
 9420    Yoshio   M       5  file-12  yob1942.txt
 9421      Zach   M       5  file-12  yob1942.txt
 9422       Zed   M       5  file-12  yob1942.txt

 [9423 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F   68018  file-13  yob1954.txt
 1         Linda   F   55374  file-13  yob1954.txt
 2       Deborah   F   54684  file-13  yob1954.txt
 3      Patricia   F   49146  file-13  yob1954.txt
 4         Susan   F   47162  file-13  yob1954.txt
 ...         ...  ..     ...      ...          ...
 10979   Yehudah   M       5  file-13  yob1954.txt
 10980  Yitzchok   M       5  file-13  yob1954.txt
 10981    Zalman   M       5  file-13  yob1954.txt
 10982    Zannie   M       5  file-13  yob1954.txt
 10983    Zeddie   M       5  file-13  yob1954.txt

 [10984 rows x 5 columns],
            name sex  number file_num    file_name
 0       Jessica   F   47890  file-14  yob1989.txt
 1        Ashley   F   47588  file-14  yob1989.txt
 2      Brittany   F   37791  file-14  yob1989.txt
 3        Amanda   F   36830  file-14  yob1989.txt
 4         Sarah   F   27793  file-14  yob1989.txt
 ...         ...  ..     ...      ...          ...
 23770   Zebulin   M       5  file-14  yob1989.txt
 23771       Zek   M       5  file-14  yob1989.txt
 23772       Zen   M       5  file-14  yob1989.txt
 23773      Zeno   M       5  file-14  yob1989.txt
 23774     Zerek   M       5  file-14  yob1989.txt

 [23775 rows x 5 columns],
              name sex  number file_num    file_name
 0           Emily   F   19358  file-15  yob2007.txt
 1        Isabella   F   19140  file-15  yob2007.txt
 2            Emma   F   18377  file-15  yob2007.txt
 3             Ava   F   18053  file-15  yob2007.txt
 4         Madison   F   17963  file-15  yob2007.txt
 ...           ...  ..     ...      ...          ...
 34960       Zylin   M       5  file-15  yob2007.txt
 34961       Zyonn   M       5  file-15  yob2007.txt
 34962   Zyquarius   M       5  file-15  yob2007.txt
 34963  Zyquavious   M       5  file-15  yob2007.txt
 34964      Zyrese   M       5  file-15  yob2007.txt

 [34965 rows x 5 columns],
            name sex  number file_num    file_name
 0        Sophia   F   21855  file-16  yob2011.txt
 1      Isabella   F   19923  file-16  yob2011.txt
 2          Emma   F   18811  file-16  yob2011.txt
 3        Olivia   F   17328  file-16  yob2011.txt
 4           Ava   F   15507  file-16  yob2011.txt
 ...         ...  ..     ...      ...          ...
 33918     Zylar   M       5  file-16  yob2011.txt
 33919     Zylas   M       5  file-16  yob2011.txt
 33920     Zyran   M       5  file-16  yob2011.txt
 33921   Zyshawn   M       5  file-16  yob2011.txt
 33922  Zytavion   M       5  file-16  yob2011.txt

 [33923 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   55643  file-17  yob1937.txt
 1      Barbara   F   34914  file-17  yob1937.txt
 2     Patricia   F   26839  file-17  yob1937.txt
 3      Shirley   F   26821  file-17  yob1937.txt
 4        Betty   F   25330  file-17  yob1937.txt
 ...        ...  ..     ...      ...          ...
 8942     Wyley   M       5  file-17  yob1937.txt
 8943      Ynes   M       5  file-17  yob1937.txt
 8944   Yoshito   M       5  file-17  yob1937.txt
 8945  Zacarias   M       5  file-17  yob1937.txt
 8946     Zelma   M       5  file-17  yob1937.txt

 [8947 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   66178  file-18  yob1943.txt
 1      Barbara   F   43434  file-18  yob1943.txt
 2     Patricia   F   39622  file-18  yob1943.txt
 3        Linda   F   38440  file-18  yob1943.txt
 4        Carol   F   31684  file-18  yob1943.txt
 ...        ...  ..     ...      ...          ...
 9403   Wyndell   M       5  file-18  yob1943.txt
 9404   Yolanda   M       5  file-18  yob1943.txt
 9405    Ysmael   M       5  file-18  yob1943.txt
 9406  Zaragoza   M       5  file-18  yob1943.txt
 9407   Zygmunt   M       5  file-18  yob1943.txt

 [9408 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F    9888  file-19  yob1887.txt
 1          Anna   F    4227  file-19  yob1887.txt
 2     Elizabeth   F    2681  file-19  yob1887.txt
 3          Emma   F    2647  file-19  yob1887.txt
 4      Margaret   F    2419  file-19  yob1887.txt
 ...         ...  ..     ...      ...          ...
 2368    Wheeler   M       5  file-19  yob1887.txt
 2369    Wilfrid   M       5  file-19  yob1887.txt
 2370    Wilhelm   M       5  file-19  yob1887.txt
 2371       Wirt   M       5  file-19  yob1887.txt
 2372        Zed   M       5  file-19  yob1887.txt

 [2373 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F    8148  file-20  yob1882.txt
 1          Anna   F    3143  file-20  yob1882.txt
 2          Emma   F    2303  file-20  yob1882.txt
 3     Elizabeth   F    2186  file-20  yob1882.txt
 4        Minnie   F    2004  file-20  yob1882.txt
 ...         ...  ..     ...      ...          ...
 2122       Wirt   M       5  file-20  yob1882.txt
 2123    Woodson   M       5  file-20  yob1882.txt
 2124      Woody   M       5  file-20  yob1882.txt
 2125     Worley   M       5  file-20  yob1882.txt
 2126        Zed   M       5  file-20  yob1882.txt

 [2127 rows x 5 columns],
             name sex  number file_num    file_name
 0           Mary   F   67835  file-21  yob1926.txt
 1        Dorothy   F   36616  file-21  yob1926.txt
 2          Betty   F   32962  file-21  yob1926.txt
 3          Helen   F   26886  file-21  yob1926.txt
 4       Margaret   F   23073  file-21  yob1926.txt
 ...          ...  ..     ...      ...          ...
 10454       Yves   M       5  file-21  yob1926.txt
 10455  Zachariah   M       5  file-21  yob1926.txt
 10456        Zan   M       5  file-21  yob1926.txt
 10457   Zeferino   M       5  file-21  yob1926.txt
 10458     Zelmer   M       5  file-21  yob1926.txt

 [10459 rows x 5 columns],
            name sex  number file_num    file_name
 0      Jennifer   F   54349  file-22  yob1983.txt
 1       Jessica   F   45280  file-22  yob1983.txt
 2        Amanda   F   33755  file-22  yob1983.txt
 3        Ashley   F   33296  file-22  yob1983.txt
 4         Sarah   F   27232  file-22  yob1983.txt
 ...         ...  ..     ...      ...          ...
 19407  Zebediah   M       5  file-22  yob1983.txt
 19408   Zebulan   M       5  file-22  yob1983.txt
 19409       Zef   M       5  file-22  yob1983.txt
 19410     Zenas   M       5  file-22  yob1983.txt
 19411     Zoran   M       5  file-22  yob1983.txt

 [19412 rows x 5 columns],
            name sex  number file_num    file_name
 0          Lisa   F   60271  file-23  yob1965.txt
 1          Mary   F   34271  file-23  yob1965.txt
 2         Karen   F   32870  file-23  yob1965.txt
 3      Kimberly   F   28835  file-23  yob1965.txt
 4         Susan   F   26328  file-23  yob1965.txt
 ...         ...  ..     ...      ...          ...
 11950    Willem   M       5  file-23  yob1965.txt
 11951   Winferd   M       5  file-23  yob1965.txt
 11952    Worley   M       5  file-23  yob1965.txt
 11953    Worthy   M       5  file-23  yob1965.txt
 11954  Wwilliam   M       5  file-23  yob1965.txt

 [11955 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F   64151  file-24  yob1930.txt
 1         Betty   F   38235  file-24  yob1930.txt
 2       Dorothy   F   30409  file-24  yob1930.txt
 3         Helen   F   19914  file-24  yob1930.txt
 4      Margaret   F   18352  file-24  yob1930.txt
 ...         ...  ..     ...      ...          ...
 9787       Ynez   M       5  file-24  yob1930.txt
 9788    Yoshito   M       5  file-24  yob1930.txt
 9789  Zacharias   M       5  file-24  yob1930.txt
 9790      Zelma   M       5  file-24  yob1930.txt
 9791     Zelmer   M       5  file-24  yob1930.txt

 [9792 rows x 5 columns],
          name sex  number file_num    file_name
 0        Mary   F   51476  file-25  yob1960.txt
 1       Susan   F   39204  file-25  yob1960.txt
 2       Linda   F   37313  file-25  yob1960.txt
 3       Karen   F   36380  file-25  yob1960.txt
 4       Donna   F   34135  file-25  yob1960.txt
 ...       ...  ..     ...      ...          ...
 11920   Yates   M       5  file-25  yob1960.txt
 11921  Ysabel   M       5  file-25  yob1960.txt
 11922   Yusuf   M       5  file-25  yob1960.txt
 11923  Zalmen   M       5  file-25  yob1960.txt
 11924  Zandel   M       5  file-25  yob1960.txt

 [11925 rows x 5 columns],
            name sex  number file_num    file_name
 0          Emma   F   20468  file-26  yob2015.txt
 1        Olivia   F   19713  file-26  yob2015.txt
 2        Sophia   F   17437  file-26  yob2015.txt
 3           Ava   F   16391  file-26  yob2015.txt
 4      Isabella   F   15641  file-26  yob2015.txt
 ...         ...  ..     ...      ...          ...
 33151    Zykell   M       5  file-26  yob2015.txt
 33152    Zyking   M       5  file-26  yob2015.txt
 33153     Zykir   M       5  file-26  yob2015.txt
 33154     Zyrus   M       5  file-26  yob2015.txt
 33155      Zyus   M       5  file-26  yob2015.txt

 [33156 rows x 5 columns],
            name sex  number file_num    file_name
 0       Jessica   F   52682  file-27  yob1986.txt
 1        Ashley   F   49674  file-27  yob1986.txt
 2        Amanda   F   40534  file-27  yob1986.txt
 3      Jennifer   F   36184  file-27  yob1986.txt
 4         Sarah   F   28162  file-27  yob1986.txt
 ...         ...  ..     ...      ...          ...
 20655       Zia   M       5  file-27  yob1986.txt
 20656       Zoe   M       5  file-27  yob1986.txt
 20657     Zoilo   M       5  file-27  yob1986.txt
 20658    Zollie   M       5  file-27  yob1986.txt
 20659    Zubair   M       5  file-27  yob1986.txt

 [20660 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F   13447  file-28  yob1895.txt
 1          Anna   F    5950  file-28  yob1895.txt
 2         Helen   F    4023  file-28  yob1895.txt
 3      Margaret   F    3931  file-28  yob1895.txt
 4     Elizabeth   F    3603  file-28  yob1895.txt
 ...         ...  ..     ...      ...          ...
 3044       Whit   M       5  file-28  yob1895.txt
 3045    Wilfrid   M       5  file-28  yob1895.txt
 3046    Wilhelm   M       5  file-28  yob1895.txt
 3047       Wong   M       5  file-28  yob1895.txt
 3048        Yee   M       5  file-28  yob1895.txt

 [3049 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F    7065  file-29  yob1880.txt
 1          Anna   F    2604  file-29  yob1880.txt
 2          Emma   F    2003  file-29  yob1880.txt
 3     Elizabeth   F    1939  file-29  yob1880.txt
 4        Minnie   F    1746  file-29  yob1880.txt
 ...         ...  ..     ...      ...          ...
 1995     Woodie   M       5  file-29  yob1880.txt
 1996     Worthy   M       5  file-29  yob1880.txt
 1997     Wright   M       5  file-29  yob1880.txt
 1998       York   M       5  file-29  yob1880.txt
 1999  Zachariah   M       5  file-29  yob1880.txt

 [2000 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   56214  file-30  yob1938.txt
 1      Barbara   F   39276  file-30  yob1938.txt
 2     Patricia   F   27556  file-30  yob1938.txt
 3        Betty   F   25507  file-30  yob1938.txt
 4      Shirley   F   23767  file-30  yob1938.txt
 ...        ...  ..     ...      ...          ...
 9026      Zach   M       5  file-30  yob1938.txt
 9027    Zannie   M       5  file-30  yob1938.txt
 9028  Zeferino   M       5  file-30  yob1938.txt
 9029   Zelbert   M       5  file-30  yob1938.txt
 9030     Zenon   M       5  file-30  yob1938.txt

 [9031 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   18665  file-31  yob1908.txt
 1        Helen   F    8439  file-31  yob1908.txt
 2     Margaret   F    6976  file-31  yob1908.txt
 3         Ruth   F    6180  file-31  yob1908.txt
 4         Anna   F    5860  file-31  yob1908.txt
 ...        ...  ..     ...      ...          ...
 4013   Wilhelm   M       5  file-31  yob1908.txt
 4014     Wilma   M       5  file-31  yob1908.txt
 4015    Worthy   M       5  file-31  yob1908.txt
 4016    Yancey   M       5  file-31  yob1908.txt
 4017      Zeno   M       5  file-31  yob1908.txt

 [4018 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   58043  file-32  yob1941.txt
 1      Barbara   F   39539  file-32  yob1941.txt
 2     Patricia   F   36903  file-32  yob1941.txt

In [25]:
dfs_in_one = pd.concat(dfs)

In [26]:
dfs_in_one.head()

      name sex  number file_num    file_name
0    Emily   F   23948   file-1  yob2005.txt
1     Emma   F   20349   file-1  yob2005.txt
2  Madison   F   19572   file-1  yob2005.txt
3  Abigail   F   15753   file-1  yob2005.txt
4   Olivia   F   15698   file-1  yob2005.txt

and here we have a dataframe containing the data from all the csv file in the folder