In [1]:
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize #package for flattening json in pandas df
import json

import matplotlib.pyplot as plt

import subprocess
from subprocess import call

import datetime
from datetime import date

import sys # unix commands

from pathlib import Path

In [3]:
pwd

'/home/sam/DSProjects/reading-multiple-files-pandas'

In [4]:
cd data

/home/sam/DSProjects/reading-multiple-files-pandas/data

In [2]:
ls

aa  data/  read-csv-files.ipynb  README.md

In [3]:
df = pd.read_csv('data/file1.csv')

In [4]:
df.head()

  FORENAME1 FORENAME2 SURNAME  EMAIL TITLE
0       Jon       Kdd   Argos    NaN    Mr
1       Tim       Ldf    Juto    NaN    Mr
2       Tom       Res   Lijut    NaN    Dr

In [5]:
folder = Path('data/').absolute()
[f for f in folder.iterdir() if f.name.startswith('file') ]

[PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/data/file1.csv'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/data/file2.csv')]

In [6]:
csv_files = [f for f in folder.iterdir() if f.name.startswith('file')]
    # the assign() method adds a helper column
dfs = [
    pd.read_csv(csv_file).assign(file_num = f'file-{idx}', DATA_SOURCE=csv_file.name[0:3])
    for idx, csv_file in enumerate(csv_files, 1)
]

In [7]:
dfs

[  FORENAME1 FORENAME2 SURNAME  EMAIL TITLE file_num DATA_SOURCE
 0       Jon       Kdd   Argos    NaN    Mr   file-1         fil
 1       Tim       Ldf    Juto    NaN    Mr   file-1         fil
 2       Tom       Res   Lijut    NaN    Dr   file-1         fil,
   FORENAME1 FORENAME2 SURNAME  EMAIL TITLE file_num DATA_SOURCE
 0    Ldkfjd    Bdfidf    Yuod    NaN  Prof   file-2         fil
 1     Ldfde     Qwwer   Pdfld    NaN    Mr   file-2         fil
 2      Tere      Tfpi   Jldkf    NaN    Dr   file-2         fil]

In [8]:
dfs_in_one = pd.concat(dfs)

In [9]:
dfs_in_one

  FORENAME1 FORENAME2 SURNAME  EMAIL TITLE file_num DATA_SOURCE
0       Jon       Kdd   Argos    NaN    Mr   file-1         fil
1       Tim       Ldf    Juto    NaN    Mr   file-1         fil
2       Tom       Res   Lijut    NaN    Dr   file-1         fil
0    Ldkfjd    Bdfidf    Yuod    NaN  Prof   file-2         fil
1     Ldfde     Qwwer   Pdfld    NaN    Mr   file-2         fil
2      Tere      Tfpi   Jldkf    NaN    Dr   file-2         fil