In [1]:
from pandas.io.json import json_normalize #package for flattening json in pandas df
import json


import subprocess
from subprocess import call

import datetime
from datetime import date

import sys # unix commands

from pathlib import Path

In [2]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [3]:
import urllib.request


import requests
import zipfile

### Download Files

Social Security Name data set
US Social Security Baby Name catalog https://www.ssa/gov/oact/babynames
This catalog records the names given to babies born since the year 1880.The datat can be downloaded through the link https://www.ssa.gov/oact/babynames/limits.html

In [4]:
# define the url
names_url = 'https://www.ssa.gov/oact/babynames/names.zip'

In [5]:
urllib.request.urlretrieve(names_url,'names.zip')

('names.zip', <http.client.HTTPMessage at 0x7ff5007323d0>)

In [6]:
# create HTTP response object. the url of the content to be downloaded is defined as names_url
# send a HTTP request to the server and save
# the HTTP response in a response object called r

r = requests.get(names_url) 



# we save the received content as a zip file in binary format
# the we write the contents of the response (r.content)
# to a new file on disk in binary mode

with open("../Data/names.zip",'wb') as f:
    f.write(r.content)

### Checking the Content of the Downloads
To confirm that the download has completed correctly, we check the locations where we have specified for the files to be downloaded. This can be done using normal unix commands and is made possible by the `sys` library which has been previously imported

In [7]:
ls ../Data/

names/  names2.zip  names.zip

### Uncompress the downloaded zip file
Since the downloaded data is contained in a zip file, we will need to uncompress the zip file to gain access to its contents. Here we use the zipfile module to uncompress the zip file.

In [8]:
zipfile.ZipFile('../Data/names.zip').extractall('../Data/names/')

Now let's check to confirm that zip file has been uncompressed and its contents are in the specified director

In [10]:
ls ../Data/names

NationalReadMe.pdf  yob1908.txt  yob1937.txt  yob1966.txt  yob1995.txt
yob1880.txt         yob1909.txt  yob1938.txt  yob1967.txt  yob1996.txt
yob1881.txt         yob1910.txt  yob1939.txt  yob1968.txt  yob1997.txt
yob1882.txt         yob1911.txt  yob1940.txt  yob1969.txt  yob1998.txt
yob1883.txt         yob1912.txt  yob1941.txt  yob1970.txt  yob1999.txt
yob1884.txt         yob1913.txt  yob1942.txt  yob1971.txt  yob2000.txt
yob1885.txt         yob1914.txt  yob1943.txt  yob1972.txt  yob2001.txt
yob1886.txt         yob1915.txt  yob1944.txt  yob1973.txt  yob2002.txt
yob1887.txt         yob1916.txt  yob1945.txt  yob1974.txt  yob2003.txt
yob1888.txt         yob1917.txt  yob1946.txt  yob1975.txt  yob2004.txt
yob1889.txt         yob1918.txt  yob1947.txt  yob1976.txt  yob2005.txt
yob1890.txt         yob1919.txt  yob1948.txt  yob1977.txt  yob2006.txt
yob1891.txt         yob1920.txt  yob1949.txt  yob1978.txt  yob2007.txt
yob1892.txt         yob1921.txt  yob1950.txt  yob1979.txt  yob2008.txt
yob1893.txt         yob1922.txt  yob1951.txt  yob1980.txt  yob2009.txt
yob1894.txt         yob1923.txt  yob1952.txt  yob1981.txt  yob2010.txt
yob1895.txt         yob1924.txt  yob1953.txt  yob1982.txt  yob2011.txt
yob1896.txt         yob1925.txt  yob1954.txt  yob1983.txt  yob2012.txt
yob1897.txt         yob1926.txt  yob1955.txt  yob1984.txt  yob2013.txt
yob1898.txt         yob1927.txt  yob1956.txt  yob1985.txt  yob2014.txt
yob1899.txt         yob1928.txt  yob1957.txt  yob1986.txt  yob2015.txt
yob1900.txt         yob1929.txt  yob1958.txt  yob1987.txt  yob2016.txt
yob1901.txt         yob1930.txt  yob1959.txt  yob1988.txt  yob2017.txt
yob1902.txt         yob1931.txt  yob1960.txt  yob1989.txt  yob2018.txt
yob1903.txt         yob1932.txt  yob1961.txt  yob1990.txt  yob2019.txt
yob1904.txt         yob1933.txt  yob1962.txt  yob1991.txt  yob2020.txt
yob1905.txt         yob1934.txt  yob1963.txt  yob1992.txt
yob1906.txt         yob1935.txt  yob1964.txt  yob1993.txt
yob1907.txt         yob1936.txt  yob1965.txt  yob1994.txt

## Reading the Data

### Read Single File

try to read one of the files so that we can preview the data and have see what it looks like

In [11]:

names2020_1 = pd.read_csv('../Data/names/yob2020.txt')
names2020_1.head()

      Olivia  F  17535
0       Emma  F  15581
1        Ava  F  13084
2  Charlotte  F  13003
3     Sophia  F  12976
4     Amelia  F  12704

##### Adding a Header Row
From the previous step we see that the data does not contain a header row. We will need to add a header row to make our analysis easier. We do this in the next step by using the `names` parameter of `read_csv` to pass a list of column names while reading the file

In [12]:

names2020_2 = pd.read_csv('../Data/names/yob2020.txt', names=['name','sex','number'])
names2020_2.head()

        name sex  number
0     Olivia   F   17535
1       Emma   F   15581
2        Ava   F   13084
3  Charlotte   F   13003
4     Sophia   F   12976

##### Add a helper column for descriptive purposes
Although we know from the file name that this data is for the year 2020, there is nothing in the data itself to indicate this. We can therefore add a helper column to show this. We use the `assign` method of `read_csv` to do this as follows:

In [13]:
names2020_3 = pd.read_csv('../Data/names/yob2020.txt', names=['name','sex','number']).assign(year=2020)
names2020_3.head()

        name sex  number  year
0     Olivia   F   17535  2020
1       Emma   F   15581  2020
2        Ava   F   13084  2020
3  Charlotte   F   13003  2020
4     Sophia   F   12976  2020

### Read All Files in the Folder
We have seen how we can read each individual file in the folder into its own dataframe. In practice, this is not very convenient. We want a way to read all the files into a single data frame, without having to explicitly specify the name of each individual file in our `read_csv` statement.

The general idea here is as follows:

<ol>
  <li> create a list that contains the names of all the files in the folder </li>
  <li> Second item </li>
  <li> Third item </li>
</ol>

is to . We can then iterate through this list and read each of the files respectively

First we specify the location/folder that contains the files that contains the files that we are interested in.

In [24]:
folder = Path('../Data/names/').absolute()
# [f for f in folder.iterdir() if f.name.startswith('yob') ]

Next, we create a list that contains the paths to each of the files in the directory

In [38]:
list_f= []
for f in folder.iterdir():
    list_f.append(f)

In [39]:
list_f

[PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2005.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1971.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1907.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1884.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1885.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2019.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1924.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1991.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1999.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2016.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1918.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1942.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1954.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1989.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2007.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2011.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1937.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1943.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1887.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1882.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1926.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1983.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1965.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1930.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1960.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2015.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1986.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1895.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1880.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1938.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1908.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1941.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2012.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1992.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1940.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1981.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1917.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1910.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1886.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1978.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2000.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1957.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1904.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1893.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1968.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1932.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2010.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2017.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1947.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2003.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1970.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1961.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1916.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1889.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1984.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1935.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1959.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1883.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1939.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1902.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1948.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1994.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1996.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/NationalReadMe.pdf'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1945.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1934.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1973.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1888.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2002.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1987.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1990.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1956.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1900.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1892.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1912.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1903.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1979.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1920.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1966.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1919.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1964.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1913.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1953.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2018.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1976.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1928.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1915.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1967.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1929.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1998.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1988.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1891.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2014.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1921.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2020.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1944.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1985.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1931.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1997.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1955.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1951.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1897.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1995.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1901.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1905.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1969.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1946.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1963.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2004.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1962.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2008.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1958.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1950.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1975.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1952.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1936.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1982.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1898.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1894.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1881.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1925.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1911.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1923.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1949.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2006.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1899.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2013.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1914.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1927.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1922.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1980.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2001.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1972.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2009.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1909.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1890.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1906.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1896.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1933.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1974.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1993.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1977.txt')]

In [36]:
list_of_files = [f for f in folder.iterdir() if f.name.startswith('yob')]

[PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2005.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1971.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1907.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1884.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1885.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2019.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1924.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1991.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1999.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2016.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1918.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1942.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1954.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1989.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2007.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2011.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1937.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1943.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1887.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1882.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1926.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1983.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1965.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1930.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1960.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2015.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1986.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1895.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1880.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1938.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1908.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1941.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2012.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1992.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1940.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1981.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1917.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1910.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1886.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1978.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2000.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1957.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1904.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1893.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1968.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1932.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2010.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2017.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1947.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2003.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1970.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1961.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1916.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1889.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1984.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1935.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1959.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1883.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1939.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1902.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1948.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1994.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1996.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1945.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1934.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1973.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1888.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2002.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1987.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1990.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1956.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1900.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1892.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1912.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1903.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1979.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1920.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1966.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1919.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1964.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1913.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1953.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2018.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1976.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1928.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1915.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1967.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1929.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1998.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1988.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1891.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2014.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1921.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2020.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1944.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1985.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1931.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1997.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1955.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1951.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1897.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1995.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1901.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1905.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1969.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1946.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1963.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2004.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1962.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2008.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1958.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1950.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1975.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1952.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1936.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1982.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1898.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1894.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1881.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1925.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1911.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1923.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1949.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2006.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1899.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2013.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1914.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1927.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1922.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1980.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2001.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1972.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob2009.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1909.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1890.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1906.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1896.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1933.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1974.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1993.txt'),
 PosixPath('/home/sam/DSProjects/reading-multiple-files-pandas/../Data/names/yob1977.txt')]

In [34]:

    # the assign() method adds a helper column
dfs = [
    pd.read_csv(csv_file) for csv_file in (list_of_files)
]

In [35]:
dfs

[           Emily  F  23944
 0           Emma  F  20348
 1        Madison  F  19571
 2        Abigail  F  15751
 3         Olivia  F  15694
 4       Isabella  F  15190
 ...          ... ..    ...
 32548    Zymiere  M      5
 32549     Zyrell  M      5
 32550     Zyrian  M      5
 32551     Zyshon  M      5
 32552  Zytavious  M      5

 [32553 rows x 3 columns],
        Jennifer  F  56780
 0      Michelle  F  33161
 1          Lisa  F  32911
 2      Kimberly  F  30700
 3           Amy  F  26237
 4        Angela  F  25897
 ...         ... ..    ...
 15291    Zawdie  M      5
 15292       Zel  M      5
 15293      Zeno  M      5
 15294     Zenon  M      5
 15295   Zigmond  M      5

 [15296 rows x 3 columns],
           Mary  F  17580
 0        Helen  F   7579
 1     Margaret  F   6713
 2         Anna  F   5575
 3         Ruth  F   5573
 4      Dorothy  F   4967
 ...        ... ..    ...
 3942      Wray  M      5
 3943     Wyman  M      5
 3944       Zeb  M      5
 3945      Zeke  M      5
 3946      Zeno  M      5

 [3947 rows x 3 columns],
            Mary  F  9217
 0          Anna  F  3860
 1          Emma  F  2587
 2     Elizabeth  F  2549
 3        Minnie  F  2243
 4      Margaret  F  2142
 ...         ... ..   ...
 2291   Williard  M     5
 2292      Willy  M     5
 2293    Winston  M     5
 2294       York  M     5
 2295  Zachariah  M     5

 [2296 rows x 3 columns],
            Mary  F  9128
 0          Anna  F  3994
 1          Emma  F  2728
 2     Elizabeth  F  2582
 3      Margaret  F  2204
 4        Minnie  F  2178
 ...         ... ..   ...
 2288     Wallie  M     5
 2289    Willian  M     5
 2290       Wirt  M     5
 2291        Yee  M     5
 2292        Zeb  M     5

 [2293 rows x 3 columns],
           Olivia  F  18508
 0           Emma  F  17155
 1            Ava  F  14474
 2         Sophia  F  13753
 3       Isabella  F  13344
 4      Charlotte  F  13191
 ...          ... ..    ...
 32024     Zyheem  M      5
 32025      Zykel  M      5
 32026     Zyking  M      5
 32027        Zyn  M      5
 32028      Zyran  M      5

 [32029 rows x 3 columns],
            Mary  F  73536
 0       Dorothy  F  39999
 1         Helen  F  31193
 2         Betty  F  30600
 3      Margaret  F  26548
 4          Ruth  F  23600
 ...         ... ..    ...
 10865  Zaragoza  M      5
 10866    Zeddie  M      5
 10867     Zelma  M      5
 10868    Zelmer  M      5
 10869    Zenith  M      5

 [10870 rows x 3 columns],
          Ashley  F  43479
 0       Jessica  F  43398
 1      Brittany  F  29090
 2        Amanda  F  28892
 3      Samantha  F  25646
 4         Sarah  F  25229
 ...         ... ..    ...
 25108      Zeev  M      5
 25109      Zein  M      5
 25110    Zerick  M      5
 25111    Zeshan  M      5
 25112    Zuhair  M      5

 [25113 rows x 3 columns],
           Emily  F  26539
 0        Hannah  F  21677
 1        Alexis  F  19234
 2         Sarah  F  19110
 3      Samantha  F  19039
 4        Ashley  F  18136
 ...         ... ..    ...
 28549     Zyier  M      5
 28550    Zyquan  M      5
 28551    Zyquez  M      5
 28552     Zyron  M      5
 28553   Zyshaun  M      5

 [28554 rows x 3 columns],
            Emma  F  19522
 0        Olivia  F  19380
 1           Ava  F  16325
 2        Sophia  F  16149
 3      Isabella  F  14829
 4           Mia  F  14442
 ...         ... ..    ...
 33025    Zolton  M      5
 33026    Zurich  M      5
 33027    Zyahir  M      5
 33028      Zyel  M      5
 33029     Zylyn  M      5

 [33030 rows x 3 columns],
            Mary  F  67366
 0         Helen  F  36148
 1       Dorothy  F  32030
 2      Margaret  F  27139
 3          Ruth  F  25534
 4       Mildred  F  17258
 ...         ... ..    ...
 10392      Zach  M      5
 10393     Zaven  M      5
 10394    Zellie  M      5
 10395    Zelmer  M      5
 10396     Zenas  M      5

 [10397 rows x 3 columns],
           Mary  F  63256
 0      Barbara  F  44735
 1     Patricia  F  39458
 2        Linda  F  31612
 3        Carol  F  30272
 4       Sandra  F  24994
 ...        ... ..    ...
 9418     Wymon  M      5
 9419    Yancey  M      5
 9420    Yoshio  M      5
 9421      Zach  M      5
 9422       Zed  M      5

 [9423 rows x 3 columns],
            Mary  F  68019
 0         Linda  F  55375
 1       Deborah  F  54684
 2      Patricia  F  49147
 3         Susan  F  47163
 4         Debra  F  45898
 ...         ... ..    ...
 10979   Yehudah  M      5
 10980  Yitzchok  M      5
 10981    Zalman  M      5
 10982    Zannie  M      5
 10983    Zeddie  M      5

 [10984 rows x 3 columns],
         Jessica  F  47887
 0        Ashley  F  47589
 1      Brittany  F  37790
 2        Amanda  F  36830
 3         Sarah  F  27792
 4      Samantha  F  24792
 ...         ... ..    ...
 23769   Zebulin  M      5
 23770       Zek  M      5
 23771       Zen  M      5
 23772      Zeno  M      5
 23773     Zerek  M      5

 [23774 rows x 3 columns],
             Emily  F  19358
 0        Isabella  F  19140
 1            Emma  F  18377
 2             Ava  F  18052
 3         Madison  F  17963
 4          Sophia  F  17025
 ...           ... ..    ...
 34958       Zylin  M      5
 34959       Zyonn  M      5
 34960   Zyquarius  M      5
 34961  Zyquavious  M      5
 34962      Zyrese  M      5

 [34963 rows x 3 columns],
          Sophia  F  21850
 0      Isabella  F  19919
 1          Emma  F  18808
 2        Olivia  F  17327
 3           Ava  F  15506
 4         Emily  F  14265
 ...         ... ..    ...
 33913     Zylar  M      5
 33914     Zylas  M      5
 33915     Zyran  M      5
 33916   Zyshawn  M      5
 33917  Zytavion  M      5

 [33918 rows x 3 columns],
           Mary  F  55644
 0      Barbara  F  34912
 1     Patricia  F  26838
 2      Shirley  F  26820
 3        Betty  F  25329
 4        Carol  F  17336
 ...        ... ..    ...
 8941     Wyley  M      5
 8942      Ynes  M      5
 8943   Yoshito  M      5
 8944  Zacarias  M      5
 8945     Zelma  M      5

 [8946 rows x 3 columns],
           Mary  F  66173
 0      Barbara  F  43432
 1     Patricia  F  39622
 2        Linda  F  38440
 3        Carol  F  31684
 4       Sandra  F  25988
 ...        ... ..    ...
 9402   Wyndell  M      5
 9403   Yolanda  M      5
 9404    Ysmael  M      5
 9405  Zaragoza  M      5
 9406   Zygmunt  M      5

 [9407 rows x 3 columns],
            Mary  F  9888
 0          Anna  F  4227
 1     Elizabeth  F  2681
 2          Emma  F  2647
 3      Margaret  F  2419
 4        Minnie  F  2215
 ...         ... ..   ...
 2367    Wheeler  M     5
 2368    Wilfrid  M     5
 2369    Wilhelm  M     5
 2370       Wirt  M     5
 2371        Zed  M     5

 [2372 rows x 3 columns],
            Mary  F  8148
 0          Anna  F  3143
 1          Emma  F  2303
 2     Elizabeth  F  2186
 3        Minnie  F  2004
 4      Margaret  F  1821
 ...         ... ..   ...
 2121       Wirt  M     5
 2122    Woodson  M     5
 2123      Woody  M     5
 2124     Worley  M     5
 2125        Zed  M     5

 [2126 rows x 3 columns],
             Mary  F  67836
 0        Dorothy  F  36617
 1          Betty  F  32961
 2          Helen  F  26885
 3       Margaret  F  23072
 4           Ruth  F  20223
 ...          ... ..    ...
 10453       Yves  M      5
 10454  Zachariah  M      5
 10455        Zan  M      5
 10456   Zeferino  M      5
 10457     Zelmer  M      5

 [10458 rows x 3 columns],
        Jennifer  F  54348
 0       Jessica  F  45280
 1        Amanda  F  33755
 2        Ashley  F  33295
 3         Sarah  F  27230
 4       Melissa  F  23474
 ...         ... ..    ...
 19402  Zebediah  M      5
 19403   Zebulan  M      5
 19404       Zef  M      5
 19405     Zenas  M      5
 19406     Zoran  M      5

 [19407 rows x 3 columns],
            Lisa  F  60270
 0          Mary  F  34270
 1         Karen  F  32873
 2      Kimberly  F  28833
 3         Susan  F  26328
 4      Patricia  F  23553
 ...         ... ..    ...
 11948    Willem  M      5
 11949   Winferd  M      5
 11950    Worley  M      5
 11951    Worthy  M      5
 11952  Wwilliam  M      5

 [11953 rows x 3 columns],
            Mary  F  64149
 0         Betty  F  38235
 1       Dorothy  F  30409
 2         Helen  F  19913
 3      Margaret  F  18353
 4       Barbara  F  18280
 ...         ... ..    ...
 9786       Ynez  M      5
 9787    Yoshito  M      5
 9788  Zacharias  M      5
 9789      Zelma  M      5
 9790     Zelmer  M      5

 [9791 rows x 3 columns],
          Mary  F  51477
 0       Susan  F  39204
 1       Linda  F  37311
 2       Karen  F  36379
 3       Donna  F  34133
 4        Lisa  F  33704
 ...       ... ..    ...
 11920   Yates  M      5
 11921  Ysabel  M      5
 11922   Yusuf  M      5
 11923  Zalmen  M      5
 11924  Zandel  M      5

 [11925 rows x 3 columns],
            Emma  F  20465
 0        Olivia  F  19710
 1        Sophia  F  17434
 2           Ava  F  16386
 3      Isabella  F  15636
 4           Mia  F  14914
 ...         ... ..    ...
 33139    Zykell  M      5
 33140    Zyking  M      5
 33141     Zykir  M      5
 33142     Zyrus  M      5
 33143      Zyus  M      5

 [33144 rows x 3 columns],
          Jessica  F  52683
 0         Ashley  F  49676
 1         Amanda  F  40532
 2       Jennifer  F  36184
 3          Sarah  F  28161
 4      Stephanie  F  22649
 ...          ... ..    ...
 20652        Zia  M      5
 20653        Zoe  M      5
 20654      Zoilo  M      5
 20655     Zollie  M      5
 20656     Zubair  M      5

 [20657 rows x 3 columns],
            Mary  F  13447
 0          Anna  F   5950
 1         Helen  F   4023
 2      Margaret  F   3931
 3     Elizabeth  F   3603
 4          Ruth  F   3551
 ...         ... ..    ...
 3043       Whit  M      5
 3044    Wilfrid  M      5
 3045    Wilhelm  M      5
 3046       Wong  M      5
 3047        Yee  M      5

 [3048 rows x 3 columns],
            Mary  F  7065
 0          Anna  F  2604
 1          Emma  F  2003
 2     Elizabeth  F  1939
 3        Minnie  F  1746
 4      Margaret  F  1578
 ...         ... ..   ...
 1994     Woodie  M     5
 1995     Worthy  M     5
 1996     Wright  M     5
 1997       York  M     5
 1998  Zachariah  M     5

 [1999 rows x 3 columns],
           Mary  F  56214
 0      Barbara  F  39276
 1     Patricia  F  27556
 2        Betty  F  25506
 3      Shirley  F  23767
 4        Carol  F  19425
 ...        ... ..    ...
 9025      Zach  M      5
 9026    Zannie  M      5
 9027  Zeferino  M      5
 9028   Zelbert  M      5
 9029     Zenon  M      5

 [9030 rows x 3 columns],
           Mary  F  18665
 0        Helen  F   8439
 1     Margaret  F   6976
 2         Ruth  F   6180
 3         Anna  F   5860
 4      Dorothy  F   5703
 ...        ... ..    ...
 4012   Wilhelm  M      5
 4013     Wilma  M      5
 4014    Worthy  M      5
 4015    Yancey  M      5
 4016      Zeno  M      5

 [4017 rows x 3 columns],
           Mary  F  58041
 0      Barbara  F  39539
 1     Patricia  F  36903
 2        Carol  F  24181
 3        Linda  F  23721
 4       Judith  F  23318
 ...        ... ..    ...
 9080   Ygnacio  M      5
 9081      Yong  M      5
 9082      Yvon  M      5
 9083    Zannie  M      5
 9084      Zell  M      5

 [9085 rows x 3 columns],
           Sophia  F  22320
 0           Emma  F  20954
 1       Isabella  F  19113
 2         Olivia  F  17320
 3            Ava  F  15541
 4          Emily  F  13657
 ...          ... ..    ...
 33755      Zylin  M      5
 33756     Zymari  M      5
 33757      Zyrin  M      5
 33758      Zyrus  M      5
 33759  Zytaevius  M      5

 [33760 rows x 3 columns],
          Ashley  F  38455
 0       Jessica  F  38356
 1        Amanda  F  25034
 2      Brittany  F  24979
 3         Sarah  F  24634
 4      Samantha  F  24410
 ...         ... ..    ...
 25422     Ziyad  M      5
 25423    Zohrab  M      5
 25424     Zubin  M      5
 25425    Zuhair  M      5
 25426     Zyair  M      5

 [25427 rows x 3 columns],
              Mary  F  56208
 0         Barbara  F  36735
 1        Patricia  F  32665
 2          Judith  F  22383
 3           Betty  F  22075
 4           Carol  F  21761
 ...           ... ..    ...
 8955  Worthington  M      5
 8956        Wynne  M      5
 8957       Ysabel  M      5
 8958       Zackie  M      5
 8959        Zenas  M      5

 [8960 rows x 3 columns],
        Jennifer  F  57049
 0       Jessica  F  42537
 1        Amanda  F  34373
 2         Sarah  F  28174
 3       Melissa  F  28003
 4           Amy  F  20347
 ...         ... ..    ...
 19475   Zerrick  M      5
 19476     Zeyad  M      5
 19477  Zimbabwe  M      5
 19478    Zoltan  M      5
 19479    Zuriel  M      5

 [19480 rows x 3 columns],
            Mary  F  64280
 0         Helen  F  34251
 1       Dorothy  F  28852
 2      Margaret  F  25560
 3          Ruth  F  23568
 4       Mildred  F  16257
 ...         ... ..    ...
 9907  Yoshiharu  M      5
 9908    Zebulon  M      5
 9909     Zeddie  M      5
 9910       Zeke  M      5
 9911       Zola  M      5

 [9912 rows x 3 columns],
           Mary  F  22848
 0        Helen  F  10479
 1     Margaret  F   8226
 2      Dorothy  F   7318
 3         Ruth  F   7212
 4         Anna  F   6436
 ...        ... ..    ...
 4623   Woodson  M      5
 4624     Woody  M      5
 4625     Wyman  M      5
 4626    Yoshio  M      5
 4627    Zennie  M      5

 [4628 rows x 3 columns],
            Mary  F  9889
 0          Anna  F  4283
 1          Emma  F  2764
 2     Elizabeth  F  2680
 3        Minnie  F  2372
 4      Margaret  F  2275
 ...         ... ..   ...
 2386       Wood  M     5
 2387      Worth  M     5
 2388     Wright  M     5
 2389     Xavier  M     5
 2390      Yancy  M     5

 [2391 rows x 3 columns],
       Jennifer  F  56319
 0      Melissa  F  28328
 1      Jessica  F  26103
 2          Amy  F  23212
 3      Heather  F  22273
 4       Amanda  F  20518
 ...        ... ..    ...
 18228      Zan  M      5
 18229   Zerick  M      5
 18230   Zikomo  M      5
 18231   Zollie  M      5
 18232      Zon  M      5

 [18233 rows x 3 columns],
          Emily  F  25957
 0       Hannah  F  23084
 1      Madison  F  19968
 2       Ashley  F  17997
 3        Sarah  F  17706
 4       Alexis  F  17630
 ...        ... ..    ...
 29771     Zeph  M      5
 29772    Zeven  M      5
 29773    Ziggy  M      5
 29774       Zo  M      5
 29775    Zyier  M      5

 [29776 rows x 3 columns],
             Mary  F  61104
 0          Susan  F  45948
 1          Linda  F  44500
 2          Debra  F  42739
 3          Karen  F  40587
 4        Deborah  F  40084
 ...          ... ..    ...
 11561     Yancey  M      5
 11562        Zac  M      5
 11563  Zachariah  M      5
 11564     Zackie  M      5
 11565     Zonnie  M      5

 [11566 rows x 3 columns],
            Mary  F  14961
 0         Helen  F   6488
 1          Anna  F   5330
 2      Margaret  F   5302
 3          Ruth  F   4900
 4     Elizabeth  F   3833
 ...         ... ..    ...
 3554    Willian  M      5
 3555     Woodie  M      5
 3556      Woody  M      5
 3557     Worley  M      5
 3558        Yee  M      5

 [3559 rows x 3 columns],
            Mary  F  12784
 0          Anna  F   5695
 1          Ruth  F   3658
 2      Margaret  F   3565
 3     Elizabeth  F   3360
 4         Helen  F   3249
 ...         ... ..    ...
 2825  Whitfield  M      5
 2826    Whitney  M      5
 2827     Willia  M      5
 2828       Wing  M      5
 2829       Zora  M      5

 [2830 rows x 3 columns],
            Lisa  F  49534
 0      Michelle  F  33223
 1      Kimberly  F  31908
 2      Jennifer  F  26852
 3       Melissa  F  21727
 4          Mary  F  21723
 ...         ... ..    ...
 12932     Wynne  M      5
 12933      Zain  M      5
 12934    Zalman  M      5
 12935    Zavier  M      5
 12936   Zedrick  M      5

 [12937 rows x 3 columns],
           Mary  F  59883
 0        Betty  F  34419
 1      Barbara  F  26315
 2      Dorothy  F  24975
 3         Joan  F  21044
 4     Patricia  F  17990
 ...        ... ..    ...
 9375      Yves  M      5
 9376    Yvonne  M      5
 9377       Zed  M      5
 9378     Zelda  M      5
 9379     Zenas  M      5

 [9380 rows x 3 columns],
         Isabella  F  22924
 0         Sophia  F  20646
 1           Emma  F  17351
 2         Olivia  F  17029
 3            Ava  F  15436
 4          Emily  F  14277
 ...          ... ..    ...
 34079    Zymaire  M      5
 34080     Zyonne  M      5
 34081  Zyquarius  M      5
 34082      Zyran  M      5
 34083      Zzyzx  M      5

 [34084 rows x 3 columns],
            Emma  F  19837
 0        Olivia  F  18744
 1           Ava  F  15988
 2      Isabella  F  15214
 3        Sophia  F  14903
 4           Mia  F  13494
 ...         ... ..    ...
 32628     Zykai  M      5
 32629    Zykeem  M      5
 32630     Zylin  M      5
 32631     Zylis  M      5
 32632     Zyrie  M      5

 [32633 rows x 3 columns],
           Linda  F  99693
 0          Mary  F  71687
 1      Patricia  F  51278
 2       Barbara  F  48794
 3        Sandra  F  34778
 4         Carol  F  33540
 ...         ... ..    ...
 10365  Zacarias  M      5
 10366       Zan  M      5
 10367    Zannie  M      5
 10368    Zebbie  M      5
 10369      Zell  M      5

 [10370 rows x 3 columns],
          Emily  F  25691
 0         Emma  F  22709
 1      Madison  F  20199
 2       Hannah  F  17637
 3       Olivia  F  16152
 4      Abigail  F  15931
 ...        ... ..    ...
 31184   Zorion  M      5
 31185  Zxavian  M      5
 31186     Zyad  M      5
 31187   Zykeem  M      5
 31188   Zysean  M      5

 [31189 rows x 3 columns],
        Jennifer  F  46157
 0          Lisa  F  38964
 1      Kimberly  F  34138
 2      Michelle  F  34051
 3           Amy  F  25211
 4        Angela  F  24928
 ...         ... ..    ...
 14773      Zaid  M      5
 14774    Zalmen  M      5
 14775    Zavier  M      5
 14776   Zebulon  M      5
 14777       Zon  M      5

 [14778 rows x 3 columns],
            Mary  F  47680
 0          Lisa  F  42703
 1         Susan  F  37523
 2         Linda  F  35580
 3         Karen  F  34701
 4      Patricia  F  28872
 ...         ... ..    ...
 12176    Yehuda  M      5
 12177      Yogi  M      5
 12178      Yvan  M      5
 12179    Zannie  M      5
 12180   Zendell  M      5

 [12181 rows x 3 columns],
           Mary  F  61438
 0        Helen  F  32662
 1      Dorothy  F  27418
 2     Margaret  F  24953
 3         Ruth  F  23190
 4      Mildred  F  15633
 ...        ... ..    ...
 9691     Zelma  M      5
 9692      Zera  M      5
 9693    Zettie  M      5
 9694      Ziba  M      5
 9695      Zina  M      5

 [9696 rows x 3 columns],
            Mary  F  11648
 0          Anna  F   5062
 1     Elizabeth  F   3058
 2      Margaret  F   2917
 3          Emma  F   2884
 4        Minnie  F   2624
 ...         ... ..    ...
 2584     Weldon  M      5
 2585    Wendell  M      5
 2586    Wilhelm  M      5
 2587       Zeke  M      5
 2588      Zenas  M      5

 [2589 rows x 3 columns],
         Jennifer  F  50560
 0        Jessica  F  45857
 1         Ashley  F  38773
 2         Amanda  F  33907
 3          Sarah  F  25884
 4      Stephanie  F  23022
 ...          ... ..    ...
 19504       Zayd  M      5
 19505    Zebedee  M      5
 19506    Zebulan  M      5
 19507       Zeno  M      5
 19508     Zeshan  M      5

 [19509 rows x 3 columns],
           Mary  F  55072
 0      Shirley  F  42356
 1      Barbara  F  30697
 2        Betty  F  28676
 3     Patricia  F  22877
 4      Dorothy  F  19404
 ...        ... ..    ...
 9032   Winfrey  M      5
 9033     Yancy  M      5
 9034    Yazzie  M      5
 9035  Zaragoza  M      5
 9036     Zenas  M      5

 [9037 rows x 3 columns],
            Mary  F  54478
 0         Susan  F  41600
 1         Linda  F  40410
 2         Karen  F  36773
 3         Donna  F  36464
 4      Patricia  F  35217
 ...         ... ..    ...
 11758    Ysabel  M      5
 11759    Zalman  M      5
 11760    Zebbie  M      5
 11761   Zebulon  M      5
 11762   Zyndall  M      5

 [11763 rows x 3 columns],
            Mary  F  8012
 0          Anna  F  3306
 1          Emma  F  2367

Create a list of files

In [26]:
list_of_files = [f for f in folder.iterdir() if f.name.startswith('yob')]

#### Reading the files

<ol>
  <li> First item </li>
  <li> Second item </li>
  <li> Third item </li>
</ol>

as the files do not have a header row, we will add a header while reading in the file. If this were a single file we would have done: `df = pd.read_csv('../Data/names/yob2011.txt', names=['name','sex','number'])`

In [27]:

    # the assign() method adds a helper column
dfs = [
    pd.read_csv(name_of_file, names=['name','sex','number']).
    assign(file_num = f'file-{idx}', file_name=name_of_file.name[0::])
    for idx, name_of_file in enumerate(list_of_files, 1)
]

In [28]:
dfs

[            name sex  number file_num    file_name
 0          Emily   F   23944   file-1  yob2005.txt
 1           Emma   F   20348   file-1  yob2005.txt
 2        Madison   F   19571   file-1  yob2005.txt
 3        Abigail   F   15751   file-1  yob2005.txt
 4         Olivia   F   15694   file-1  yob2005.txt
 ...          ...  ..     ...      ...          ...
 32549    Zymiere   M       5   file-1  yob2005.txt
 32550     Zyrell   M       5   file-1  yob2005.txt
 32551     Zyrian   M       5   file-1  yob2005.txt
 32552     Zyshon   M       5   file-1  yob2005.txt
 32553  Zytavious   M       5   file-1  yob2005.txt

 [32554 rows x 5 columns],
            name sex  number file_num    file_name
 0      Jennifer   F   56780   file-2  yob1971.txt
 1      Michelle   F   33161   file-2  yob1971.txt
 2          Lisa   F   32911   file-2  yob1971.txt
 3      Kimberly   F   30700   file-2  yob1971.txt
 4           Amy   F   26237   file-2  yob1971.txt
 ...         ...  ..     ...      ...          ...
 15292    Zawdie   M       5   file-2  yob1971.txt
 15293       Zel   M       5   file-2  yob1971.txt
 15294      Zeno   M       5   file-2  yob1971.txt
 15295     Zenon   M       5   file-2  yob1971.txt
 15296   Zigmond   M       5   file-2  yob1971.txt

 [15297 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   17580   file-3  yob1907.txt
 1        Helen   F    7579   file-3  yob1907.txt
 2     Margaret   F    6713   file-3  yob1907.txt
 3         Anna   F    5575   file-3  yob1907.txt
 4         Ruth   F    5573   file-3  yob1907.txt
 ...        ...  ..     ...      ...          ...
 3943      Wray   M       5   file-3  yob1907.txt
 3944     Wyman   M       5   file-3  yob1907.txt
 3945       Zeb   M       5   file-3  yob1907.txt
 3946      Zeke   M       5   file-3  yob1907.txt
 3947      Zeno   M       5   file-3  yob1907.txt

 [3948 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F    9217   file-4  yob1884.txt
 1          Anna   F    3860   file-4  yob1884.txt
 2          Emma   F    2587   file-4  yob1884.txt
 3     Elizabeth   F    2549   file-4  yob1884.txt
 4        Minnie   F    2243   file-4  yob1884.txt
 ...         ...  ..     ...      ...          ...
 2292   Williard   M       5   file-4  yob1884.txt
 2293      Willy   M       5   file-4  yob1884.txt
 2294    Winston   M       5   file-4  yob1884.txt
 2295       York   M       5   file-4  yob1884.txt
 2296  Zachariah   M       5   file-4  yob1884.txt

 [2297 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F    9128   file-5  yob1885.txt
 1          Anna   F    3994   file-5  yob1885.txt
 2          Emma   F    2728   file-5  yob1885.txt
 3     Elizabeth   F    2582   file-5  yob1885.txt
 4      Margaret   F    2204   file-5  yob1885.txt
 ...         ...  ..     ...      ...          ...
 2289     Wallie   M       5   file-5  yob1885.txt
 2290    Willian   M       5   file-5  yob1885.txt
 2291       Wirt   M       5   file-5  yob1885.txt
 2292        Yee   M       5   file-5  yob1885.txt
 2293        Zeb   M       5   file-5  yob1885.txt

 [2294 rows x 5 columns],
            name sex  number file_num    file_name
 0        Olivia   F   18508   file-6  yob2019.txt
 1          Emma   F   17155   file-6  yob2019.txt
 2           Ava   F   14474   file-6  yob2019.txt
 3        Sophia   F   13753   file-6  yob2019.txt
 4      Isabella   F   13344   file-6  yob2019.txt
 ...         ...  ..     ...      ...          ...
 32025    Zyheem   M       5   file-6  yob2019.txt
 32026     Zykel   M       5   file-6  yob2019.txt
 32027    Zyking   M       5   file-6  yob2019.txt
 32028       Zyn   M       5   file-6  yob2019.txt
 32029     Zyran   M       5   file-6  yob2019.txt

 [32030 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F   73536   file-7  yob1924.txt
 1       Dorothy   F   39999   file-7  yob1924.txt
 2         Helen   F   31193   file-7  yob1924.txt
 3         Betty   F   30600   file-7  yob1924.txt
 4      Margaret   F   26548   file-7  yob1924.txt
 ...         ...  ..     ...      ...          ...
 10866  Zaragoza   M       5   file-7  yob1924.txt
 10867    Zeddie   M       5   file-7  yob1924.txt
 10868     Zelma   M       5   file-7  yob1924.txt
 10869    Zelmer   M       5   file-7  yob1924.txt
 10870    Zenith   M       5   file-7  yob1924.txt

 [10871 rows x 5 columns],
            name sex  number file_num    file_name
 0        Ashley   F   43479   file-8  yob1991.txt
 1       Jessica   F   43398   file-8  yob1991.txt
 2      Brittany   F   29090   file-8  yob1991.txt
 3        Amanda   F   28892   file-8  yob1991.txt
 4      Samantha   F   25646   file-8  yob1991.txt
 ...         ...  ..     ...      ...          ...
 25109      Zeev   M       5   file-8  yob1991.txt
 25110      Zein   M       5   file-8  yob1991.txt
 25111    Zerick   M       5   file-8  yob1991.txt
 25112    Zeshan   M       5   file-8  yob1991.txt
 25113    Zuhair   M       5   file-8  yob1991.txt

 [25114 rows x 5 columns],
            name sex  number file_num    file_name
 0         Emily   F   26539   file-9  yob1999.txt
 1        Hannah   F   21677   file-9  yob1999.txt
 2        Alexis   F   19234   file-9  yob1999.txt
 3         Sarah   F   19110   file-9  yob1999.txt
 4      Samantha   F   19039   file-9  yob1999.txt
 ...         ...  ..     ...      ...          ...
 28550     Zyier   M       5   file-9  yob1999.txt
 28551    Zyquan   M       5   file-9  yob1999.txt
 28552    Zyquez   M       5   file-9  yob1999.txt
 28553     Zyron   M       5   file-9  yob1999.txt
 28554   Zyshaun   M       5   file-9  yob1999.txt

 [28555 rows x 5 columns],
            name sex  number file_num    file_name
 0          Emma   F   19522  file-10  yob2016.txt
 1        Olivia   F   19380  file-10  yob2016.txt
 2           Ava   F   16325  file-10  yob2016.txt
 3        Sophia   F   16149  file-10  yob2016.txt
 4      Isabella   F   14829  file-10  yob2016.txt
 ...         ...  ..     ...      ...          ...
 33026    Zolton   M       5  file-10  yob2016.txt
 33027    Zurich   M       5  file-10  yob2016.txt
 33028    Zyahir   M       5  file-10  yob2016.txt
 33029      Zyel   M       5  file-10  yob2016.txt
 33030     Zylyn   M       5  file-10  yob2016.txt

 [33031 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F   67366  file-11  yob1918.txt
 1         Helen   F   36148  file-11  yob1918.txt
 2       Dorothy   F   32030  file-11  yob1918.txt
 3      Margaret   F   27139  file-11  yob1918.txt
 4          Ruth   F   25534  file-11  yob1918.txt
 ...         ...  ..     ...      ...          ...
 10393      Zach   M       5  file-11  yob1918.txt
 10394     Zaven   M       5  file-11  yob1918.txt
 10395    Zellie   M       5  file-11  yob1918.txt
 10396    Zelmer   M       5  file-11  yob1918.txt
 10397     Zenas   M       5  file-11  yob1918.txt

 [10398 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   63256  file-12  yob1942.txt
 1      Barbara   F   44735  file-12  yob1942.txt
 2     Patricia   F   39458  file-12  yob1942.txt
 3        Linda   F   31612  file-12  yob1942.txt
 4        Carol   F   30272  file-12  yob1942.txt
 ...        ...  ..     ...      ...          ...
 9419     Wymon   M       5  file-12  yob1942.txt
 9420    Yancey   M       5  file-12  yob1942.txt
 9421    Yoshio   M       5  file-12  yob1942.txt
 9422      Zach   M       5  file-12  yob1942.txt
 9423       Zed   M       5  file-12  yob1942.txt

 [9424 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F   68019  file-13  yob1954.txt
 1         Linda   F   55375  file-13  yob1954.txt
 2       Deborah   F   54684  file-13  yob1954.txt
 3      Patricia   F   49147  file-13  yob1954.txt
 4         Susan   F   47163  file-13  yob1954.txt
 ...         ...  ..     ...      ...          ...
 10980   Yehudah   M       5  file-13  yob1954.txt
 10981  Yitzchok   M       5  file-13  yob1954.txt
 10982    Zalman   M       5  file-13  yob1954.txt
 10983    Zannie   M       5  file-13  yob1954.txt
 10984    Zeddie   M       5  file-13  yob1954.txt

 [10985 rows x 5 columns],
            name sex  number file_num    file_name
 0       Jessica   F   47887  file-14  yob1989.txt
 1        Ashley   F   47589  file-14  yob1989.txt
 2      Brittany   F   37790  file-14  yob1989.txt
 3        Amanda   F   36830  file-14  yob1989.txt
 4         Sarah   F   27792  file-14  yob1989.txt
 ...         ...  ..     ...      ...          ...
 23770   Zebulin   M       5  file-14  yob1989.txt
 23771       Zek   M       5  file-14  yob1989.txt
 23772       Zen   M       5  file-14  yob1989.txt
 23773      Zeno   M       5  file-14  yob1989.txt
 23774     Zerek   M       5  file-14  yob1989.txt

 [23775 rows x 5 columns],
              name sex  number file_num    file_name
 0           Emily   F   19358  file-15  yob2007.txt
 1        Isabella   F   19140  file-15  yob2007.txt
 2            Emma   F   18377  file-15  yob2007.txt
 3             Ava   F   18052  file-15  yob2007.txt
 4         Madison   F   17963  file-15  yob2007.txt
 ...           ...  ..     ...      ...          ...
 34959       Zylin   M       5  file-15  yob2007.txt
 34960       Zyonn   M       5  file-15  yob2007.txt
 34961   Zyquarius   M       5  file-15  yob2007.txt
 34962  Zyquavious   M       5  file-15  yob2007.txt
 34963      Zyrese   M       5  file-15  yob2007.txt

 [34964 rows x 5 columns],
            name sex  number file_num    file_name
 0        Sophia   F   21850  file-16  yob2011.txt
 1      Isabella   F   19919  file-16  yob2011.txt
 2          Emma   F   18808  file-16  yob2011.txt
 3        Olivia   F   17327  file-16  yob2011.txt
 4           Ava   F   15506  file-16  yob2011.txt
 ...         ...  ..     ...      ...          ...
 33914     Zylar   M       5  file-16  yob2011.txt
 33915     Zylas   M       5  file-16  yob2011.txt
 33916     Zyran   M       5  file-16  yob2011.txt
 33917   Zyshawn   M       5  file-16  yob2011.txt
 33918  Zytavion   M       5  file-16  yob2011.txt

 [33919 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   55644  file-17  yob1937.txt
 1      Barbara   F   34912  file-17  yob1937.txt
 2     Patricia   F   26838  file-17  yob1937.txt
 3      Shirley   F   26820  file-17  yob1937.txt
 4        Betty   F   25329  file-17  yob1937.txt
 ...        ...  ..     ...      ...          ...
 8942     Wyley   M       5  file-17  yob1937.txt
 8943      Ynes   M       5  file-17  yob1937.txt
 8944   Yoshito   M       5  file-17  yob1937.txt
 8945  Zacarias   M       5  file-17  yob1937.txt
 8946     Zelma   M       5  file-17  yob1937.txt

 [8947 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   66173  file-18  yob1943.txt
 1      Barbara   F   43432  file-18  yob1943.txt
 2     Patricia   F   39622  file-18  yob1943.txt
 3        Linda   F   38440  file-18  yob1943.txt
 4        Carol   F   31684  file-18  yob1943.txt
 ...        ...  ..     ...      ...          ...
 9403   Wyndell   M       5  file-18  yob1943.txt
 9404   Yolanda   M       5  file-18  yob1943.txt
 9405    Ysmael   M       5  file-18  yob1943.txt
 9406  Zaragoza   M       5  file-18  yob1943.txt
 9407   Zygmunt   M       5  file-18  yob1943.txt

 [9408 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F    9888  file-19  yob1887.txt
 1          Anna   F    4227  file-19  yob1887.txt
 2     Elizabeth   F    2681  file-19  yob1887.txt
 3          Emma   F    2647  file-19  yob1887.txt
 4      Margaret   F    2419  file-19  yob1887.txt
 ...         ...  ..     ...      ...          ...
 2368    Wheeler   M       5  file-19  yob1887.txt
 2369    Wilfrid   M       5  file-19  yob1887.txt
 2370    Wilhelm   M       5  file-19  yob1887.txt
 2371       Wirt   M       5  file-19  yob1887.txt
 2372        Zed   M       5  file-19  yob1887.txt

 [2373 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F    8148  file-20  yob1882.txt
 1          Anna   F    3143  file-20  yob1882.txt
 2          Emma   F    2303  file-20  yob1882.txt
 3     Elizabeth   F    2186  file-20  yob1882.txt
 4        Minnie   F    2004  file-20  yob1882.txt
 ...         ...  ..     ...      ...          ...
 2122       Wirt   M       5  file-20  yob1882.txt
 2123    Woodson   M       5  file-20  yob1882.txt
 2124      Woody   M       5  file-20  yob1882.txt
 2125     Worley   M       5  file-20  yob1882.txt
 2126        Zed   M       5  file-20  yob1882.txt

 [2127 rows x 5 columns],
             name sex  number file_num    file_name
 0           Mary   F   67836  file-21  yob1926.txt
 1        Dorothy   F   36617  file-21  yob1926.txt
 2          Betty   F   32961  file-21  yob1926.txt
 3          Helen   F   26885  file-21  yob1926.txt
 4       Margaret   F   23072  file-21  yob1926.txt
 ...          ...  ..     ...      ...          ...
 10454       Yves   M       5  file-21  yob1926.txt
 10455  Zachariah   M       5  file-21  yob1926.txt
 10456        Zan   M       5  file-21  yob1926.txt
 10457   Zeferino   M       5  file-21  yob1926.txt
 10458     Zelmer   M       5  file-21  yob1926.txt

 [10459 rows x 5 columns],
            name sex  number file_num    file_name
 0      Jennifer   F   54348  file-22  yob1983.txt
 1       Jessica   F   45280  file-22  yob1983.txt
 2        Amanda   F   33755  file-22  yob1983.txt
 3        Ashley   F   33295  file-22  yob1983.txt
 4         Sarah   F   27230  file-22  yob1983.txt
 ...         ...  ..     ...      ...          ...
 19403  Zebediah   M       5  file-22  yob1983.txt
 19404   Zebulan   M       5  file-22  yob1983.txt
 19405       Zef   M       5  file-22  yob1983.txt
 19406     Zenas   M       5  file-22  yob1983.txt
 19407     Zoran   M       5  file-22  yob1983.txt

 [19408 rows x 5 columns],
            name sex  number file_num    file_name
 0          Lisa   F   60270  file-23  yob1965.txt
 1          Mary   F   34270  file-23  yob1965.txt
 2         Karen   F   32873  file-23  yob1965.txt
 3      Kimberly   F   28833  file-23  yob1965.txt
 4         Susan   F   26328  file-23  yob1965.txt
 ...         ...  ..     ...      ...          ...
 11949    Willem   M       5  file-23  yob1965.txt
 11950   Winferd   M       5  file-23  yob1965.txt
 11951    Worley   M       5  file-23  yob1965.txt
 11952    Worthy   M       5  file-23  yob1965.txt
 11953  Wwilliam   M       5  file-23  yob1965.txt

 [11954 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F   64149  file-24  yob1930.txt
 1         Betty   F   38235  file-24  yob1930.txt
 2       Dorothy   F   30409  file-24  yob1930.txt
 3         Helen   F   19913  file-24  yob1930.txt
 4      Margaret   F   18353  file-24  yob1930.txt
 ...         ...  ..     ...      ...          ...
 9787       Ynez   M       5  file-24  yob1930.txt
 9788    Yoshito   M       5  file-24  yob1930.txt
 9789  Zacharias   M       5  file-24  yob1930.txt
 9790      Zelma   M       5  file-24  yob1930.txt
 9791     Zelmer   M       5  file-24  yob1930.txt

 [9792 rows x 5 columns],
          name sex  number file_num    file_name
 0        Mary   F   51477  file-25  yob1960.txt
 1       Susan   F   39204  file-25  yob1960.txt
 2       Linda   F   37311  file-25  yob1960.txt
 3       Karen   F   36379  file-25  yob1960.txt
 4       Donna   F   34133  file-25  yob1960.txt
 ...       ...  ..     ...      ...          ...
 11921   Yates   M       5  file-25  yob1960.txt
 11922  Ysabel   M       5  file-25  yob1960.txt
 11923   Yusuf   M       5  file-25  yob1960.txt
 11924  Zalmen   M       5  file-25  yob1960.txt
 11925  Zandel   M       5  file-25  yob1960.txt

 [11926 rows x 5 columns],
            name sex  number file_num    file_name
 0          Emma   F   20465  file-26  yob2015.txt
 1        Olivia   F   19710  file-26  yob2015.txt
 2        Sophia   F   17434  file-26  yob2015.txt
 3           Ava   F   16386  file-26  yob2015.txt
 4      Isabella   F   15636  file-26  yob2015.txt
 ...         ...  ..     ...      ...          ...
 33140    Zykell   M       5  file-26  yob2015.txt
 33141    Zyking   M       5  file-26  yob2015.txt
 33142     Zykir   M       5  file-26  yob2015.txt
 33143     Zyrus   M       5  file-26  yob2015.txt
 33144      Zyus   M       5  file-26  yob2015.txt

 [33145 rows x 5 columns],
            name sex  number file_num    file_name
 0       Jessica   F   52683  file-27  yob1986.txt
 1        Ashley   F   49676  file-27  yob1986.txt
 2        Amanda   F   40532  file-27  yob1986.txt
 3      Jennifer   F   36184  file-27  yob1986.txt
 4         Sarah   F   28161  file-27  yob1986.txt
 ...         ...  ..     ...      ...          ...
 20653       Zia   M       5  file-27  yob1986.txt
 20654       Zoe   M       5  file-27  yob1986.txt
 20655     Zoilo   M       5  file-27  yob1986.txt
 20656    Zollie   M       5  file-27  yob1986.txt
 20657    Zubair   M       5  file-27  yob1986.txt

 [20658 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F   13447  file-28  yob1895.txt
 1          Anna   F    5950  file-28  yob1895.txt
 2         Helen   F    4023  file-28  yob1895.txt
 3      Margaret   F    3931  file-28  yob1895.txt
 4     Elizabeth   F    3603  file-28  yob1895.txt
 ...         ...  ..     ...      ...          ...
 3044       Whit   M       5  file-28  yob1895.txt
 3045    Wilfrid   M       5  file-28  yob1895.txt
 3046    Wilhelm   M       5  file-28  yob1895.txt
 3047       Wong   M       5  file-28  yob1895.txt
 3048        Yee   M       5  file-28  yob1895.txt

 [3049 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F    7065  file-29  yob1880.txt
 1          Anna   F    2604  file-29  yob1880.txt
 2          Emma   F    2003  file-29  yob1880.txt
 3     Elizabeth   F    1939  file-29  yob1880.txt
 4        Minnie   F    1746  file-29  yob1880.txt
 ...         ...  ..     ...      ...          ...
 1995     Woodie   M       5  file-29  yob1880.txt
 1996     Worthy   M       5  file-29  yob1880.txt
 1997     Wright   M       5  file-29  yob1880.txt
 1998       York   M       5  file-29  yob1880.txt
 1999  Zachariah   M       5  file-29  yob1880.txt

 [2000 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   56214  file-30  yob1938.txt
 1      Barbara   F   39276  file-30  yob1938.txt
 2     Patricia   F   27556  file-30  yob1938.txt
 3        Betty   F   25506  file-30  yob1938.txt
 4      Shirley   F   23767  file-30  yob1938.txt
 ...        ...  ..     ...      ...          ...
 9026      Zach   M       5  file-30  yob1938.txt
 9027    Zannie   M       5  file-30  yob1938.txt
 9028  Zeferino   M       5  file-30  yob1938.txt
 9029   Zelbert   M       5  file-30  yob1938.txt
 9030     Zenon   M       5  file-30  yob1938.txt

 [9031 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   18665  file-31  yob1908.txt
 1        Helen   F    8439  file-31  yob1908.txt
 2     Margaret   F    6976  file-31  yob1908.txt
 3         Ruth   F    6180  file-31  yob1908.txt
 4         Anna   F    5860  file-31  yob1908.txt
 ...        ...  ..     ...      ...          ...
 4013   Wilhelm   M       5  file-31  yob1908.txt
 4014     Wilma   M       5  file-31  yob1908.txt
 4015    Worthy   M       5  file-31  yob1908.txt
 4016    Yancey   M       5  file-31  yob1908.txt
 4017      Zeno   M       5  file-31  yob1908.txt

 [4018 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   58041  file-32  yob1941.txt
 1      Barbara   F   39539  file-32  yob1941.txt
 2     Patricia   F   36903  file-32  yob1941.txt

In [33]:
dfs_in_one = pd.concat(dfs)

In [34]:
dfs_in_one.head()

      name sex  number file_num    file_name
0    Emily   F   23944   file-1  yob2005.txt
1     Emma   F   20348   file-1  yob2005.txt
2  Madison   F   19571   file-1  yob2005.txt
3  Abigail   F   15751   file-1  yob2005.txt
4   Olivia   F   15694   file-1  yob2005.txt