In [1]:
from pandas.io.json import json_normalize #package for flattening json in pandas df
import json


import subprocess
from subprocess import call

import datetime
from datetime import date

import sys # unix commands

from pathlib import Path

In [2]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [4]:
import urllib.request


import requests
import zipfile

### Download Files
dfjdkfjd
dkfd
Social Security Name data set
US Social Security Baby Name catalog https://www.ssa/gov/oact/babynames
This catalog records the names given to babies born since the year 1880.The datat can be downloaded through the link https://www.ssa.gov/oact/babynames/limits.html

In [6]:
# define the url
names_url = 'https://www.ssa.gov/oact/babynames/names.zip'

In [15]:
urllib.request.urlretrieve(names_url,'names.zip')

('names.zip', <http.client.HTTPMessage at 0x7f2bc9051a30>)

In [7]:
# URL of the image to be downloaded is defined as image_url
r = requests.get(names_url) # create HTTP response object

# send a HTTP request to the server and save
# the HTTP response in a response object called r
with open("../Data/names2.zip",'wb') as f:
  
    # Saving received content as a png file in
    # binary format
  
    # write the contents of the response (r.content)
    # to a new file in binary mode.
    f.write(r.content)

In [8]:
pwd

'/home/sam/DSProjects/reading-multiple-files-pandas'

In [9]:
ls

aa  data/  names2.zip  names.zip  read-csv-files.ipynb  README.md  readme.txt

In [4]:
cd data

/home/sam/DSProjects/reading-multiple-files-pandas/data

In [2]:
ls

aa  data/  read-csv-files.ipynb  README.md

### Uncompress the downloaded zip file
Since the downloaded data is contained in a zip file, we will need to uncompress the zip file to gain access to its contents. Here we use the zipfile module to uncompress the zip file.

In [10]:
zipfile.ZipFile('../Data/names2.zip').extractall('../Data/names/')

In [11]:
df = pd.read_csv('data/file1.csv')

In [4]:
df.head()

  FORENAME1 FORENAME2 SURNAME  EMAIL TITLE
0       Jon       Kdd   Argos    NaN    Mr
1       Tim       Ldf    Juto    NaN    Mr
2       Tom       Res   Lijut    NaN    Dr

In [24]:
# df2 = pd.read_csv('../Data/names/yob1880.txt')

df2 = pd.read_csv('../Data/names/yob2011.txt', names=['name','sex','number']).assign(year=2011)

In [25]:
df2.head()

       name sex  number  year
0    Sophia   F   21850  2011
1  Isabella   F   19919  2011
2      Emma   F   18808  2011
3    Olivia   F   17327  2011
4       Ava   F   15506  2011

In [36]:
folder = Path('../Data/names/').absolute()
# [f for f in folder.iterdir() if f.name.startswith('yob') ]

In [6]:
csv_files = [f for f in folder.iterdir() if f.name.startswith('file')]
    # the assign() method adds a helper column
dfs = [
    pd.read_csv(csv_file).assign(file_num = f'file-{idx}', DATA_SOURCE=csv_file.name[0:3])
    for idx, csv_file in enumerate(csv_files, 1)
]

Create a list of files

In [37]:
list_of_files = [f for f in folder.iterdir() if f.name.startswith('yob')]

#### Reading the files

<ol>
  <li> First item </li>
  <li> Second item </li>
  <li> Third item </li>
</ol>

as the files do not have a header row, we will add a header while reading in the file. If this were a single file we would have done: `df = pd.read_csv('../Data/names/yob2011.txt', names=['name','sex','number'])`

In [39]:

    # the assign() method adds a helper column
dfs = [
    pd.read_csv(name_of_file, names=['name','sex','number']).
    assign(file_num = f'file-{idx}', file_name=name_of_file.name[0::])
    for idx, name_of_file in enumerate(list_of_files, 1)
]

In [32]:
dfs

[            name sex  number file_num    file_name
 0          Emily   F   23944   file-1  yob2005.txt
 1           Emma   F   20348   file-1  yob2005.txt
 2        Madison   F   19571   file-1  yob2005.txt
 3        Abigail   F   15751   file-1  yob2005.txt
 4         Olivia   F   15694   file-1  yob2005.txt
 ...          ...  ..     ...      ...          ...
 32549    Zymiere   M       5   file-1  yob2005.txt
 32550     Zyrell   M       5   file-1  yob2005.txt
 32551     Zyrian   M       5   file-1  yob2005.txt
 32552     Zyshon   M       5   file-1  yob2005.txt
 32553  Zytavious   M       5   file-1  yob2005.txt

 [32554 rows x 5 columns],
            name sex  number file_num    file_name
 0      Jennifer   F   56780   file-2  yob1971.txt
 1      Michelle   F   33161   file-2  yob1971.txt
 2          Lisa   F   32911   file-2  yob1971.txt
 3      Kimberly   F   30700   file-2  yob1971.txt
 4           Amy   F   26237   file-2  yob1971.txt
 ...         ...  ..     ...      ...          ...
 15292    Zawdie   M       5   file-2  yob1971.txt
 15293       Zel   M       5   file-2  yob1971.txt
 15294      Zeno   M       5   file-2  yob1971.txt
 15295     Zenon   M       5   file-2  yob1971.txt
 15296   Zigmond   M       5   file-2  yob1971.txt

 [15297 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   17580   file-3  yob1907.txt
 1        Helen   F    7579   file-3  yob1907.txt
 2     Margaret   F    6713   file-3  yob1907.txt
 3         Anna   F    5575   file-3  yob1907.txt
 4         Ruth   F    5573   file-3  yob1907.txt
 ...        ...  ..     ...      ...          ...
 3943      Wray   M       5   file-3  yob1907.txt
 3944     Wyman   M       5   file-3  yob1907.txt
 3945       Zeb   M       5   file-3  yob1907.txt
 3946      Zeke   M       5   file-3  yob1907.txt
 3947      Zeno   M       5   file-3  yob1907.txt

 [3948 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F    9217   file-4  yob1884.txt
 1          Anna   F    3860   file-4  yob1884.txt
 2          Emma   F    2587   file-4  yob1884.txt
 3     Elizabeth   F    2549   file-4  yob1884.txt
 4        Minnie   F    2243   file-4  yob1884.txt
 ...         ...  ..     ...      ...          ...
 2292   Williard   M       5   file-4  yob1884.txt
 2293      Willy   M       5   file-4  yob1884.txt
 2294    Winston   M       5   file-4  yob1884.txt
 2295       York   M       5   file-4  yob1884.txt
 2296  Zachariah   M       5   file-4  yob1884.txt

 [2297 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F    9128   file-5  yob1885.txt
 1          Anna   F    3994   file-5  yob1885.txt
 2          Emma   F    2728   file-5  yob1885.txt
 3     Elizabeth   F    2582   file-5  yob1885.txt
 4      Margaret   F    2204   file-5  yob1885.txt
 ...         ...  ..     ...      ...          ...
 2289     Wallie   M       5   file-5  yob1885.txt
 2290    Willian   M       5   file-5  yob1885.txt
 2291       Wirt   M       5   file-5  yob1885.txt
 2292        Yee   M       5   file-5  yob1885.txt
 2293        Zeb   M       5   file-5  yob1885.txt

 [2294 rows x 5 columns],
            name sex  number file_num    file_name
 0        Olivia   F   18508   file-6  yob2019.txt
 1          Emma   F   17155   file-6  yob2019.txt
 2           Ava   F   14474   file-6  yob2019.txt
 3        Sophia   F   13753   file-6  yob2019.txt
 4      Isabella   F   13344   file-6  yob2019.txt
 ...         ...  ..     ...      ...          ...
 32025    Zyheem   M       5   file-6  yob2019.txt
 32026     Zykel   M       5   file-6  yob2019.txt
 32027    Zyking   M       5   file-6  yob2019.txt
 32028       Zyn   M       5   file-6  yob2019.txt
 32029     Zyran   M       5   file-6  yob2019.txt

 [32030 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F   73536   file-7  yob1924.txt
 1       Dorothy   F   39999   file-7  yob1924.txt
 2         Helen   F   31193   file-7  yob1924.txt
 3         Betty   F   30600   file-7  yob1924.txt
 4      Margaret   F   26548   file-7  yob1924.txt
 ...         ...  ..     ...      ...          ...
 10866  Zaragoza   M       5   file-7  yob1924.txt
 10867    Zeddie   M       5   file-7  yob1924.txt
 10868     Zelma   M       5   file-7  yob1924.txt
 10869    Zelmer   M       5   file-7  yob1924.txt
 10870    Zenith   M       5   file-7  yob1924.txt

 [10871 rows x 5 columns],
            name sex  number file_num    file_name
 0        Ashley   F   43479   file-8  yob1991.txt
 1       Jessica   F   43398   file-8  yob1991.txt
 2      Brittany   F   29090   file-8  yob1991.txt
 3        Amanda   F   28892   file-8  yob1991.txt
 4      Samantha   F   25646   file-8  yob1991.txt
 ...         ...  ..     ...      ...          ...
 25109      Zeev   M       5   file-8  yob1991.txt
 25110      Zein   M       5   file-8  yob1991.txt
 25111    Zerick   M       5   file-8  yob1991.txt
 25112    Zeshan   M       5   file-8  yob1991.txt
 25113    Zuhair   M       5   file-8  yob1991.txt

 [25114 rows x 5 columns],
            name sex  number file_num    file_name
 0         Emily   F   26539   file-9  yob1999.txt
 1        Hannah   F   21677   file-9  yob1999.txt
 2        Alexis   F   19234   file-9  yob1999.txt
 3         Sarah   F   19110   file-9  yob1999.txt
 4      Samantha   F   19039   file-9  yob1999.txt
 ...         ...  ..     ...      ...          ...
 28550     Zyier   M       5   file-9  yob1999.txt
 28551    Zyquan   M       5   file-9  yob1999.txt
 28552    Zyquez   M       5   file-9  yob1999.txt
 28553     Zyron   M       5   file-9  yob1999.txt
 28554   Zyshaun   M       5   file-9  yob1999.txt

 [28555 rows x 5 columns],
            name sex  number file_num    file_name
 0          Emma   F   19522  file-10  yob2016.txt
 1        Olivia   F   19380  file-10  yob2016.txt
 2           Ava   F   16325  file-10  yob2016.txt
 3        Sophia   F   16149  file-10  yob2016.txt
 4      Isabella   F   14829  file-10  yob2016.txt
 ...         ...  ..     ...      ...          ...
 33026    Zolton   M       5  file-10  yob2016.txt
 33027    Zurich   M       5  file-10  yob2016.txt
 33028    Zyahir   M       5  file-10  yob2016.txt
 33029      Zyel   M       5  file-10  yob2016.txt
 33030     Zylyn   M       5  file-10  yob2016.txt

 [33031 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F   67366  file-11  yob1918.txt
 1         Helen   F   36148  file-11  yob1918.txt
 2       Dorothy   F   32030  file-11  yob1918.txt
 3      Margaret   F   27139  file-11  yob1918.txt
 4          Ruth   F   25534  file-11  yob1918.txt
 ...         ...  ..     ...      ...          ...
 10393      Zach   M       5  file-11  yob1918.txt
 10394     Zaven   M       5  file-11  yob1918.txt
 10395    Zellie   M       5  file-11  yob1918.txt
 10396    Zelmer   M       5  file-11  yob1918.txt
 10397     Zenas   M       5  file-11  yob1918.txt

 [10398 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   63256  file-12  yob1942.txt
 1      Barbara   F   44735  file-12  yob1942.txt
 2     Patricia   F   39458  file-12  yob1942.txt
 3        Linda   F   31612  file-12  yob1942.txt
 4        Carol   F   30272  file-12  yob1942.txt
 ...        ...  ..     ...      ...          ...
 9419     Wymon   M       5  file-12  yob1942.txt
 9420    Yancey   M       5  file-12  yob1942.txt
 9421    Yoshio   M       5  file-12  yob1942.txt
 9422      Zach   M       5  file-12  yob1942.txt
 9423       Zed   M       5  file-12  yob1942.txt

 [9424 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F   68019  file-13  yob1954.txt
 1         Linda   F   55375  file-13  yob1954.txt
 2       Deborah   F   54684  file-13  yob1954.txt
 3      Patricia   F   49147  file-13  yob1954.txt
 4         Susan   F   47163  file-13  yob1954.txt
 ...         ...  ..     ...      ...          ...
 10980   Yehudah   M       5  file-13  yob1954.txt
 10981  Yitzchok   M       5  file-13  yob1954.txt
 10982    Zalman   M       5  file-13  yob1954.txt
 10983    Zannie   M       5  file-13  yob1954.txt
 10984    Zeddie   M       5  file-13  yob1954.txt

 [10985 rows x 5 columns],
            name sex  number file_num    file_name
 0       Jessica   F   47887  file-14  yob1989.txt
 1        Ashley   F   47589  file-14  yob1989.txt
 2      Brittany   F   37790  file-14  yob1989.txt
 3        Amanda   F   36830  file-14  yob1989.txt
 4         Sarah   F   27792  file-14  yob1989.txt
 ...         ...  ..     ...      ...          ...
 23770   Zebulin   M       5  file-14  yob1989.txt
 23771       Zek   M       5  file-14  yob1989.txt
 23772       Zen   M       5  file-14  yob1989.txt
 23773      Zeno   M       5  file-14  yob1989.txt
 23774     Zerek   M       5  file-14  yob1989.txt

 [23775 rows x 5 columns],
              name sex  number file_num    file_name
 0           Emily   F   19358  file-15  yob2007.txt
 1        Isabella   F   19140  file-15  yob2007.txt
 2            Emma   F   18377  file-15  yob2007.txt
 3             Ava   F   18052  file-15  yob2007.txt
 4         Madison   F   17963  file-15  yob2007.txt
 ...           ...  ..     ...      ...          ...
 34959       Zylin   M       5  file-15  yob2007.txt
 34960       Zyonn   M       5  file-15  yob2007.txt
 34961   Zyquarius   M       5  file-15  yob2007.txt
 34962  Zyquavious   M       5  file-15  yob2007.txt
 34963      Zyrese   M       5  file-15  yob2007.txt

 [34964 rows x 5 columns],
            name sex  number file_num    file_name
 0        Sophia   F   21850  file-16  yob2011.txt
 1      Isabella   F   19919  file-16  yob2011.txt
 2          Emma   F   18808  file-16  yob2011.txt
 3        Olivia   F   17327  file-16  yob2011.txt
 4           Ava   F   15506  file-16  yob2011.txt
 ...         ...  ..     ...      ...          ...
 33914     Zylar   M       5  file-16  yob2011.txt
 33915     Zylas   M       5  file-16  yob2011.txt
 33916     Zyran   M       5  file-16  yob2011.txt
 33917   Zyshawn   M       5  file-16  yob2011.txt
 33918  Zytavion   M       5  file-16  yob2011.txt

 [33919 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   55644  file-17  yob1937.txt
 1      Barbara   F   34912  file-17  yob1937.txt
 2     Patricia   F   26838  file-17  yob1937.txt
 3      Shirley   F   26820  file-17  yob1937.txt
 4        Betty   F   25329  file-17  yob1937.txt
 ...        ...  ..     ...      ...          ...
 8942     Wyley   M       5  file-17  yob1937.txt
 8943      Ynes   M       5  file-17  yob1937.txt
 8944   Yoshito   M       5  file-17  yob1937.txt
 8945  Zacarias   M       5  file-17  yob1937.txt
 8946     Zelma   M       5  file-17  yob1937.txt

 [8947 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   66173  file-18  yob1943.txt
 1      Barbara   F   43432  file-18  yob1943.txt
 2     Patricia   F   39622  file-18  yob1943.txt
 3        Linda   F   38440  file-18  yob1943.txt
 4        Carol   F   31684  file-18  yob1943.txt
 ...        ...  ..     ...      ...          ...
 9403   Wyndell   M       5  file-18  yob1943.txt
 9404   Yolanda   M       5  file-18  yob1943.txt
 9405    Ysmael   M       5  file-18  yob1943.txt
 9406  Zaragoza   M       5  file-18  yob1943.txt
 9407   Zygmunt   M       5  file-18  yob1943.txt

 [9408 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F    9888  file-19  yob1887.txt
 1          Anna   F    4227  file-19  yob1887.txt
 2     Elizabeth   F    2681  file-19  yob1887.txt
 3          Emma   F    2647  file-19  yob1887.txt
 4      Margaret   F    2419  file-19  yob1887.txt
 ...         ...  ..     ...      ...          ...
 2368    Wheeler   M       5  file-19  yob1887.txt
 2369    Wilfrid   M       5  file-19  yob1887.txt
 2370    Wilhelm   M       5  file-19  yob1887.txt
 2371       Wirt   M       5  file-19  yob1887.txt
 2372        Zed   M       5  file-19  yob1887.txt

 [2373 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F    8148  file-20  yob1882.txt
 1          Anna   F    3143  file-20  yob1882.txt
 2          Emma   F    2303  file-20  yob1882.txt
 3     Elizabeth   F    2186  file-20  yob1882.txt
 4        Minnie   F    2004  file-20  yob1882.txt
 ...         ...  ..     ...      ...          ...
 2122       Wirt   M       5  file-20  yob1882.txt
 2123    Woodson   M       5  file-20  yob1882.txt
 2124      Woody   M       5  file-20  yob1882.txt
 2125     Worley   M       5  file-20  yob1882.txt
 2126        Zed   M       5  file-20  yob1882.txt

 [2127 rows x 5 columns],
             name sex  number file_num    file_name
 0           Mary   F   67836  file-21  yob1926.txt
 1        Dorothy   F   36617  file-21  yob1926.txt
 2          Betty   F   32961  file-21  yob1926.txt
 3          Helen   F   26885  file-21  yob1926.txt
 4       Margaret   F   23072  file-21  yob1926.txt
 ...          ...  ..     ...      ...          ...
 10454       Yves   M       5  file-21  yob1926.txt
 10455  Zachariah   M       5  file-21  yob1926.txt
 10456        Zan   M       5  file-21  yob1926.txt
 10457   Zeferino   M       5  file-21  yob1926.txt
 10458     Zelmer   M       5  file-21  yob1926.txt

 [10459 rows x 5 columns],
            name sex  number file_num    file_name
 0      Jennifer   F   54348  file-22  yob1983.txt
 1       Jessica   F   45280  file-22  yob1983.txt
 2        Amanda   F   33755  file-22  yob1983.txt
 3        Ashley   F   33295  file-22  yob1983.txt
 4         Sarah   F   27230  file-22  yob1983.txt
 ...         ...  ..     ...      ...          ...
 19403  Zebediah   M       5  file-22  yob1983.txt
 19404   Zebulan   M       5  file-22  yob1983.txt
 19405       Zef   M       5  file-22  yob1983.txt
 19406     Zenas   M       5  file-22  yob1983.txt
 19407     Zoran   M       5  file-22  yob1983.txt

 [19408 rows x 5 columns],
            name sex  number file_num    file_name
 0          Lisa   F   60270  file-23  yob1965.txt
 1          Mary   F   34270  file-23  yob1965.txt
 2         Karen   F   32873  file-23  yob1965.txt
 3      Kimberly   F   28833  file-23  yob1965.txt
 4         Susan   F   26328  file-23  yob1965.txt
 ...         ...  ..     ...      ...          ...
 11949    Willem   M       5  file-23  yob1965.txt
 11950   Winferd   M       5  file-23  yob1965.txt
 11951    Worley   M       5  file-23  yob1965.txt
 11952    Worthy   M       5  file-23  yob1965.txt
 11953  Wwilliam   M       5  file-23  yob1965.txt

 [11954 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F   64149  file-24  yob1930.txt
 1         Betty   F   38235  file-24  yob1930.txt
 2       Dorothy   F   30409  file-24  yob1930.txt
 3         Helen   F   19913  file-24  yob1930.txt
 4      Margaret   F   18353  file-24  yob1930.txt
 ...         ...  ..     ...      ...          ...
 9787       Ynez   M       5  file-24  yob1930.txt
 9788    Yoshito   M       5  file-24  yob1930.txt
 9789  Zacharias   M       5  file-24  yob1930.txt
 9790      Zelma   M       5  file-24  yob1930.txt
 9791     Zelmer   M       5  file-24  yob1930.txt

 [9792 rows x 5 columns],
          name sex  number file_num    file_name
 0        Mary   F   51477  file-25  yob1960.txt
 1       Susan   F   39204  file-25  yob1960.txt
 2       Linda   F   37311  file-25  yob1960.txt
 3       Karen   F   36379  file-25  yob1960.txt
 4       Donna   F   34133  file-25  yob1960.txt
 ...       ...  ..     ...      ...          ...
 11921   Yates   M       5  file-25  yob1960.txt
 11922  Ysabel   M       5  file-25  yob1960.txt
 11923   Yusuf   M       5  file-25  yob1960.txt
 11924  Zalmen   M       5  file-25  yob1960.txt
 11925  Zandel   M       5  file-25  yob1960.txt

 [11926 rows x 5 columns],
            name sex  number file_num    file_name
 0          Emma   F   20465  file-26  yob2015.txt
 1        Olivia   F   19710  file-26  yob2015.txt
 2        Sophia   F   17434  file-26  yob2015.txt
 3           Ava   F   16386  file-26  yob2015.txt
 4      Isabella   F   15636  file-26  yob2015.txt
 ...         ...  ..     ...      ...          ...
 33140    Zykell   M       5  file-26  yob2015.txt
 33141    Zyking   M       5  file-26  yob2015.txt
 33142     Zykir   M       5  file-26  yob2015.txt
 33143     Zyrus   M       5  file-26  yob2015.txt
 33144      Zyus   M       5  file-26  yob2015.txt

 [33145 rows x 5 columns],
            name sex  number file_num    file_name
 0       Jessica   F   52683  file-27  yob1986.txt
 1        Ashley   F   49676  file-27  yob1986.txt
 2        Amanda   F   40532  file-27  yob1986.txt
 3      Jennifer   F   36184  file-27  yob1986.txt
 4         Sarah   F   28161  file-27  yob1986.txt
 ...         ...  ..     ...      ...          ...
 20653       Zia   M       5  file-27  yob1986.txt
 20654       Zoe   M       5  file-27  yob1986.txt
 20655     Zoilo   M       5  file-27  yob1986.txt
 20656    Zollie   M       5  file-27  yob1986.txt
 20657    Zubair   M       5  file-27  yob1986.txt

 [20658 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F   13447  file-28  yob1895.txt
 1          Anna   F    5950  file-28  yob1895.txt
 2         Helen   F    4023  file-28  yob1895.txt
 3      Margaret   F    3931  file-28  yob1895.txt
 4     Elizabeth   F    3603  file-28  yob1895.txt
 ...         ...  ..     ...      ...          ...
 3044       Whit   M       5  file-28  yob1895.txt
 3045    Wilfrid   M       5  file-28  yob1895.txt
 3046    Wilhelm   M       5  file-28  yob1895.txt
 3047       Wong   M       5  file-28  yob1895.txt
 3048        Yee   M       5  file-28  yob1895.txt

 [3049 rows x 5 columns],
            name sex  number file_num    file_name
 0          Mary   F    7065  file-29  yob1880.txt
 1          Anna   F    2604  file-29  yob1880.txt
 2          Emma   F    2003  file-29  yob1880.txt
 3     Elizabeth   F    1939  file-29  yob1880.txt
 4        Minnie   F    1746  file-29  yob1880.txt
 ...         ...  ..     ...      ...          ...
 1995     Woodie   M       5  file-29  yob1880.txt
 1996     Worthy   M       5  file-29  yob1880.txt
 1997     Wright   M       5  file-29  yob1880.txt
 1998       York   M       5  file-29  yob1880.txt
 1999  Zachariah   M       5  file-29  yob1880.txt

 [2000 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   56214  file-30  yob1938.txt
 1      Barbara   F   39276  file-30  yob1938.txt
 2     Patricia   F   27556  file-30  yob1938.txt
 3        Betty   F   25506  file-30  yob1938.txt
 4      Shirley   F   23767  file-30  yob1938.txt
 ...        ...  ..     ...      ...          ...
 9026      Zach   M       5  file-30  yob1938.txt
 9027    Zannie   M       5  file-30  yob1938.txt
 9028  Zeferino   M       5  file-30  yob1938.txt
 9029   Zelbert   M       5  file-30  yob1938.txt
 9030     Zenon   M       5  file-30  yob1938.txt

 [9031 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   18665  file-31  yob1908.txt
 1        Helen   F    8439  file-31  yob1908.txt
 2     Margaret   F    6976  file-31  yob1908.txt
 3         Ruth   F    6180  file-31  yob1908.txt
 4         Anna   F    5860  file-31  yob1908.txt
 ...        ...  ..     ...      ...          ...
 4013   Wilhelm   M       5  file-31  yob1908.txt
 4014     Wilma   M       5  file-31  yob1908.txt
 4015    Worthy   M       5  file-31  yob1908.txt
 4016    Yancey   M       5  file-31  yob1908.txt
 4017      Zeno   M       5  file-31  yob1908.txt

 [4018 rows x 5 columns],
           name sex  number file_num    file_name
 0         Mary   F   58041  file-32  yob1941.txt
 1      Barbara   F   39539  file-32  yob1941.txt
 2     Patricia   F   36903  file-32  yob1941.txt

In [33]:
dfs_in_one = pd.concat(dfs)

In [34]:
dfs_in_one.head()

      name sex  number file_num    file_name
0    Emily   F   23944   file-1  yob2005.txt
1     Emma   F   20348   file-1  yob2005.txt
2  Madison   F   19571   file-1  yob2005.txt
3  Abigail   F   15751   file-1  yob2005.txt
4   Olivia   F   15694   file-1  yob2005.txt